#<font color='red'>SUMAIYA HOSSAIN SUROVI (Owner)
BRAC UNIVERSITY\
*CSE DEPARTMENT*\
**SUMMAR'22 SESSION**

# #<font color='blue'>Assignment 1 (Branching)

### Task 1

Write the Python code of a program that reads two numbers from the user, and prints their sum, product, and difference.

==========================================================

*Hint: subtract the second number from the first one*

==========================================================

**Example 1:**

**Sample Input:**\
 4\
 5

**Sample Output:**\
Sum = 9\
Product = 20\
Difference = -1

==========================================================

**Example 2:**

**Sample Input:**\
 30\
 2

**Sample Output:**\
Sum = 32\
Product = 60\
Difference = 28

==========================================================

In [ ]:
a=int(input("Enter a number: "))
b=int(input("Enter another number: "))
print("Sum =",a+b)
print("Product =",a*b)
print("Difference =",b-a)

Enter a number: 5
Enter another number: 4
Sum = 9
Product = 20
Difference = -1

### Task 2

Write the Python code of a program that reads the radius of a circle and prints its circumference and area.

==========================================================

*hint(1): we may import math and then use **math.pi** for getting the value of pi.\
For details, we can read from https://docs.python.org/3/library/math.html*

*hint(2): we can import math and use the math function for making squares with math.pow(number, power) or we can simply use the power operator. For example:  S**2.*

==========================================================

**Example 1:**

**Sample Input:**\
4

**Sample Output:**\
Area is 50.26548245743669\
Circumference is 25.132741228718345

==========================================================

**Example 2:**

**Sample Input:**\
3.5

**Sample Output:**\
Area is 38.48451000647496\
Circumference is 21.991148575128552

==========================================================

In [ ]:
import math
r=float(input("Enter a radius: "))
area=math.pi*(r**2)
Circumference=2*math.pi*r
print("Area is ",area)
print("Circumference is ",Circumference)

Enter a radius: 3.5
Area is  38.48451000647496
Circumference is  21.991148575128552

### Task 3

Write the Python code of a program that reads two numbers from the user. The program should then print "First is greater" if the first number is greater, "Second is greater" if the second number is greater, and "The numbers are equal" otherwise.

==========================================================

**Sample Input 1:**\
7\
3

**Sample Output 1:**\
First is greater

==========================================================

**Sample Input 2:**\
-33\
-3

**Sample Output 2:**\
Second is greater

==========================================================

**Sample Input 1:**\
11\
11

**Sample Output 1:**\
The numbers are equal

In [ ]:
a=int(input("Enter a number: "))
b=int(input("Enter another number: "))
if a>b:
  print("First is greater")
elif a<b:
  print("Second is greater")
else:
  print("The numbers are equal")

Enter a number: -33
Enter another number: -3
Second is greater

### Task 4

Write the Python code of a program that reads two numbers, subtracts the smaller number from the larger one, and prints the result.

*Hint: First, we may check which number is greater*

==========================================================

**Sample Input 1:**\
-40\
-4

**Sample Output 1:**\
36

**Explanation:** -4 > -40 so -4 - (-40) = -4 + 40 = 36

==========================================================

**Sample Input 2:**\
6\
2

**Sample Output 2:**\
4

==========================================================


**Sample Input 3:**\
5\
5

**Sample Output 3:**\
0

In [ ]:
a=int(input("Enter a number: "))
b=int(input("Enter another number: "))
if b>a:
  print(b-a)
else:
  print(a-b)

Enter a number: -40
Enter another number: -4
36

### Task 5

Write the Python code of a program that reads a number, and prints "The number is even" or "The number is odd", depending on whether the number is even or odd.

*hint(1): we may use the modulus (%) operator to check for even or odd*

*hint(2): we can consider the number to be an integer*

==========================================================

**Sample Input 1:**\
7\
**Sample Output 1:**\
The number is odd

==========================================================

**Sample Input 2:**\
10\
**Sample Output 2:**\
The number is even

==========================================================

**Sample Input 3:**\
-44\
**Sample Output 3:**\
The number is even

In [ ]:
a=int(input("Enter a number: "))
if a%2==0:
  print("The number is even")
else:
  print("The number is odd")

Enter a number: -44
The number is even

### Task 6

Write the Python code of a program that reads an integer as input from the user, and prints the integer if it is a multiple of **2 OR 5** and prints "Not a multiple of 2 OR 5" otherwise.

For example, 2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22 … i.e. this includes multiples of 2 only, multiples of 5 only and multiples of 2 and 5 both.

==========================================================

*hint(1): we may use the modulus (%) operator for checking the divisibility*

*hint(2): we can consider the number to be an integer*

==========================================================

**Sample Input 1:**\
5\
**Sample Output 1:**\
5

==========================================================

**Sample Input 2:**\
10\
**Sample Output 2:**\
10

==========================================================

**Sample Input 3:**\
3\
**Sample Output 3:**\
Not a multiple of 2 OR 5

In [ ]:
a=int(input("Enter a number: "))
if a%2==0 and a%5==0:
  print(a)
else:
  print("Not a multiple of 2 OR 5")

Enter a number: 3
Not a multiple of 2 OR 5

### Task 7
Write the Python code of a program that reads an integer, and prints the integer  it is a multiple of **either 2 or 5 but not both.** If the number is a multiple of 2 and 5 both, then print "Multiple of 2 and 5 both". For all other numbers, the program prints "Not a multiple we want".\
For example, 2, 4, 5, 6, 8, 12, 14, 15, 16, 18, 22 … i.e. this includes multiples of 2 only and multiples of 5 only, NOT multiples of 2 and 5 both or other numbers.

==========================================================

*hint(1): we may use the modulus (%) operator for checking the divisibility*\
*hint(2): we can consider the number to be an integer*

==========================================================

**Sample Input 1:**\
6\
**Sample Output 1:**\
6

==========================================================

**Sample Input 2:**\
15\
**Sample Output 2:**\
15

==========================================================

**Sample Input 3:**\
10\
**Sample Output 3:**\
Multiple of 2 and 5 both

==========================================================

**Sample Input 4:**\
17\
**Sample Output 4:**\
Not a multiple we want

In [ ]:
a=int(input("Enter a number: "))
if a%2==0 and a%5==0 :
  print("Multiple of 2 and 5 both")
elif a%2==0 or a%5==0 :
   print(a)
else:
  print("Not a multiple we want")

Enter a number: 10
Multiple of 2 and 5 both

### Task 8
Write the Python code of a program that reads an integer, and prints the integer if it is a multiple of **2 AND 5** and prints "Not multiple of 2 and 5 both" otherwise.

==========================================================

For example, 10, 20, 30, 40, 50 … i.e. this only includes numbers which are multiples of both 2 and 5.

*hint(1): we may use the modulus (%) operator for checking the divisibility*\
*hint(2): we can consider the number to be an integer*

==========================================================

**Sample Input 1:**\
30\
**Sample Output 1:**\
30

==========================================================

**Sample Input 2:**\
15\
**Sample Output 2:**\
Not multiple of 2 and 5 both

==========================================================

**Sample Input 3:**\
6\
**Sample Output 3:**\
Not multiple of 2 and 5 both

In [ ]:
a=int(input("Enter a number: "))
if a%2==0 and a%5==0 :
  print(a)
else:
  print("Not multiple of 2 and 5 both")

Enter a number: 15
Not multiple of 2 and 5 both

### Task 9
Write the Python code of a program that finds the number of hours, minutes, and seconds in a **given number of seconds.** The number of seconds is taken as input from the user.

==========================================================

*hint(1): we may consider our user input to be an integer value and use // and % operators to solve the problem* \
*hint(2): 1 hour = 60 mins = 3600 seconds* and *1 min = 60 seconds*

==========================================================

**Sample Input 1:**\
10000\
**Sample Output 1:**\
Hours: 2  Minutes: 46  Seconds: 40

**Explanation:**\
10000 seconds = 10000 // 3600 = 2 hours and 10000 % 3600 = 2800 seconds.\
Then again, 2800 // 60 = 46 minutes and 2800 % 60 = 40 seconds.\
And hence we have arrived at our answer.

==========================================================

**Sample Input 2:**\
500\
**Sample Output 2:**\
Hours: 0  Minutes: 8  Seconds: 20

In [ ]:
a = int(input("Enter the number of seconds: "))
if a>=3600 :
  hours = a // 3600
  b = a % 3600
  minutes = b // 60
  seconds = b % 60
  print(f"Hours:{hours} Minutes:{minutes} Seconds:{seconds}")
else:
  hours = 0
  minutes = a // 60
  seconds = a % 60
  print(f"Hours:{hours} Minutes:{minutes} Seconds:{seconds}")

Enter the number of seconds: 500
Hours:0 Minutes:8 Seconds:20

### Task 10

Write a Python program to compute and display a person’s weekly salary as determined by the following conditions:

* If the hours worked is less than or equal to 40, then the person receives Tk 200 per hour.
* If the hours worked is greater than 40, then the person receives Tk 8000 plus Tk 300 for each hour worked over 40 hours.

The program should request the hours worked as an input from the user and display the salary as output. You need to make sure that user input is valid. For example, a person cannot work for -5 hours or more than 168 hours in a week. So, the valid hours range is 0 to 168. For invalid hours, print outputs as given in the samples below.

==========================================================

*Hint: you can consider the hour (user input) to be an integer*

==========================================================

**Sample Input 1:**\
100\
**Sample Output 1:**\
26000

**Explanation:** Since, the number of hours worked is 100 > 40, therefore salary = 8000 + (100 - 40) * 300 = 26000.

==========================================================

**Sample Input 2:**\
30\
**Sample Output 2:**\
6000

**Explanation:** Since, the number of hours worked is 30 < 40, therefore salary = 30 * 200 = 6000.

==========================================================

**Sample Input 3:**\
-30\
**Sample Output 3:**\
Hour cannot be negative

==========================================================

**Sample Input 4:**\
170\
**Sample Output 4:**\
Impossible to work more than 168 hours weekly

In [ ]:
h = int(input("Enter the weekly hours of work: "))
if h <= 40 and h >= 0:
  salary = h * 200
  print(salary)
elif h <0:
  print("Hour cannot be negative")
elif h > 168:
  print("Impossible to work more than 168 hours weekly")
else:
  salary = 8000 + (h-40) * 300
  print(salary)

Enter the weekly hours of work: 100
26000

### Task 11
Suppose the following expressions are used to calculate the values of L for different values of S:

$L =  3000-125S^2$
if     $S<100$

$ L =  \frac{12000}{4+S^2/14900}$
if     $S\geq100$

Write the Python code of a program that reads a value of S and then calculates the value of L.

==========================================================

*hint(1): you can import math and use math function for making squares with math.pow(number, power) or you can simply write S ** 2.*

*hint(2): the value of S(user input) will be an integer*

==========================================================

**Sample Input 1:**\
120\
**Sample Output 1:**\
2416.2162162162163

**Explanation:** Since S (user input) given here is 120 >= 100, so L = 12000 / (4 + (120 * 120)/14900) = 2416.2162162162163

==========================================================

**Sample Input 2:**\
3\
**Sample Output 2:**\
1875

**Explanation:** Since S (user input) given here is 3 < 100, so L = 3000 - 125 * 3 * 3 = 1875

In [ ]:
S = int(input("Enter a value of S: "))
if S>=100:
  L = 12000/(4+(S*S/14900))
  print(L)
else:
  L = 3000 - (125*S*S)
  print(L)

Enter a value of S: 120
2416.2162162162163

### Task 12

Write a Python program that takes an hour from the user as input and tells it is time for which meal.

•	The user will input the number in a 24-hour format. So, 14 means 2 pm, 3 means 3 am, 18 means 6 pm, etc.\
•	Valid inputs are 0 to 23. Inputs less than 0 or more than 23 are invalid in 24-hour clock.\
•	Assume, input will be whole numbers. For example, 3.5 will NOT be given as input.

==========================================================

**Input range: Message to be printed**\
4 to 6: Breakfast\
12 to 13: Lunch\
16 to 17: Snacks\
19 to 20: Dinner\
For all other valid inputs, say "Patience is a virtue"\
For all other invalid inputs, say "Wrong time"

==========================================================

For example,\
If the user enters 4, your program should print the message "Breakfast".\
If the user enters 5, your program should print the message "Breakfast".\
If the user enters 6, your program should print the message "Breakfast".\
If the user enters 0, your program should print the message "Patience is a virtue".\
If the user enters 1, your program should print the message "Patience is a virtue".\
If the user enters 18, your program should print the message "Patience is a virtue".\
If the user enters 23, your program should print the message "Patience is a virtue".\
If the user enters 24, your program should print the message "Wrong Time".\
If the user enters -1, your program should print the message "Wrong Time".\
If the user enters 27, your program should print the message "Wrong time".

==========================================================

Hints: You can use nested conditionals (if-else) or chained conditions (if-elif-else) to solve this problem.

In [ ]:
hour= int(input("Enter An Hour in 24 Hour format: "))
if (hour>=0 and hour<=23):
  if(hour>=4 and hour<=6):
    print("\"Breakfast\"")
  elif(hour>=12 and hour<=13):
    print("\"Lunch\"")
  elif(hour>=16 and hour<=17):
    print("\"Snacks\"")
  elif(hour>=19 and hour<=20):
    print("\"Dinner\"")
  else:
    print("\"Patience is a virtue\"")
else:
  print("\"Wrong time\"")

Enter An Hour in 24 Hour format: 0
"Patience is a virtue"

### Task 13

Write the Python code of a program that reads a student’s mark for a single subject, and prints out the corresponding grade for that mark. The mark ranges and corresponding grades are shown in the table below. You need to make sure that the mark is valid. For example, a student cannot receive -5 or 110 marks. So, the valid marks range is 0 to 100.

*hint(1): you can consider the number to be an integer*

*hint(2): this problem can be solved in two ways: top-down (starts from A) and bottom-up (starts from F)*


| Marks | Grade|
| --- | --- |
|90 or above| A |
|  |  |
|80-89| B |
|  |  |
|70-79| C |
|  |  |
|60-69| D |
|  |  |
|50-59| E |
|  |  |
|Below 50| F |
|  |  |

In [ ]:
mark=int(input("Enter Mark for a single subject to see the corresponding grade: "))
if (mark>=0 and mark<=100):
  if(mark>=90 and mark<=100):
    print("Grade: A")
  elif(mark>=80 and mark<=89):
    print("Grade: B")
  elif(mark>=70 and mark<=79):
    print("Grade: C")
  elif(mark>=60 and mark<=69):
    print("Grade: D")
  elif(mark>=50 and mark<=59):
    print("Grade: E")
  elif(mark<=50 and mark>=0):
    print("Grade: F")
else:
  print("The mark is not valid.")

Enter Mark for a single subject to see the corresponding grade: 89
Grade: B

### Task 14
Suppose, your friend is building an automated car called “Besla”. He needs to fix the programming of the car so that it runs at a proper speed. Now, write a python program that takes 2 inputs (distance in meters and time in seconds). The program should then print the velocity in kilometers per hour of that car. Also, it should print whether the car is working properly based on the following chart.

|Velocity|Information to be printed|
|------|------|
|Less than 60 km/h  |Too slow. Needs more changes.
|Between 60 km/h to 90 km/h |Velocity is okay. The car is ready!
|Greater than 90 km/h|Too fast. Only a few changes should suffice.

==========================================

**Sample Input 1:**\
160000\
7200


**Sample Output 1:**\
80.0 km/h\
Velocity is okay. The car is ready!


**Explanation:** After the conversion of distance and time, the velocity is (160/2) km/h = 80 km/h. So the velocity is okay

 ==========================================

**Sample Input 2:**\
25400\
3600


**Sample Output 2:**\
25.4 km/h\
Too slow. Needs more changes.

**Explanation:** After the conversion of distance and time, the velocity is (25.4/1) km/h = 25.4 km/h. So the speed is too slow.

In [ ]:
d=int(input("Enter distance in meters: "))
t=int(input("Enter time in seconds: "))
v=((d/1000)/(t/3600))
if (v<60):
  print(f"{v}km/h\nToo slow.Needs more changes.")
elif (v>=60 and v<=90):
  print(f"{v}km/h\nVelocity is okay.The car is ready!")
else:
  print(f"{v}km/h\nToo fast.Only a few changes should suffice. ")

Enter distance in meters: 25400
Enter time in second: 3600
25.4km/h
Too slow.Needs more changes.

### Task 15
Write a python program that takes the CGPA and no of credits completed by a student and prints whether the student is eligible for a waiver and of what percentage.

To be eligible for a waiver, a student must have completed at least 30 credits and earned a CGPA greater or equal to 3.8. If not, please print "The students is not eligible for a waiver".

**CGPA** | **Waiver percentage**
--- | ---
3.80 - 3.89 | 25 percent
3.90 - 3.94 | 50 percent
3.95 - 3.99 | 75 percent
4.00 | 100 percent


**Sample Input 1:** \
3.93 \
78

**Sample Output 1:**\
The student is eligible for a waiver of 50 percent.

================================================================================

**Sample Input 2:** \
3.79 \
24

**Sample Output 2:**\
The students is not eligible for a waiver \

In [ ]:
cgpa=float(input("Enter the CGPA earned by the student: "))
credits=int(input("Enter the amount of credits completed by the student: "))
if (credits>=30 and cgpa>=3.8):
  if(cgpa>=3.80 and cgpa<=3.89):
    print("The student is eligible for a waiver of 25 percent.")
  elif(cgpa>=3.90 and cgpa<=3.94):
    print("The student is eligible for a waiver of 50 percent.")
  elif(cgpa>=3.95 and cgpa<=3.99):
    print("The student is eligible for a waiver of 75 percent.")
  elif(cgpa==4):
    print("The student is eligible for a waiver of 100 percent.")
else:
  print("The student is not eligible for a waiver.")

Enter the CGPA earned by the student: 3.93
Enter the amount of credits completed by the student: 78
The student is eligible for a waiver of 50 percent.

# <font color='purple'> Task 16 to Task 19 are [ Tracing ]

### Task 20

Write the Python code of a program that reads an integer, and prints the integer if it is a multiple of **NEITHER 2 NOR 5.**

For example, 1, 3, 7, 9, 11, 13, 17, 19, 21, 23, 27, 29, 31, 33, 37, 39 …\
==========================================================\
*hint(1): you may use the modulus (%) operator for checking the divisibility*\
*hint(2): you can consider the number to be an integer* \
==========================================================\
**Sample Input 1:** \
3\
**Sample Output 1:** \
3\
==========================================================\
**Sample Input 2:** \
19\
**Sample Output 2:** \
19\
==========================================================\
**Sample Input 3:** \
5\
**Sample Output 3:** \
No\
==========================================================\
**Sample Input 4:** \
12\
**Sample Output 4:** \
No

In [ ]:
num = int(input("Enter a number: "))
if (num % 2 != 0 and num % 5 != 0):
    print(num)
else:
    print("No")

Enter a number: 19
19

### Task 21

Write the Python code of a program that reads an integer, and prints the integer if it is **NOT a multiple of 2** OR **NOT a multiple of 5.**

For example, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14, 15, 16, 17, 18, 19, 21, 22

==========================================================

*hint(1): you may use the modulus (%) operator for checking the divisibility*

*hint(2): you can consider the number to be an integer* \
==========================================================\
**Sample Input 1:** \
3\
**Sample Output 1:** \
3\
==========================================================\
**Sample Input 2:** \
15\
**Sample Output 2:** \
15\
==========================================================\
**Sample Input 3:** \
20\
**Sample Output 3:** \
No\
==========================================================\
**Sample Input 4:** \
14\
**Sample Output 4:** \
14

In [ ]:
num = int(input("Enter a number: "))
if (num % 2 != 0 or num % 5 != 0):
    print(num)
else:
    print("No")

Enter a number: 20
No

### Task 22
Fiona has recently started acrylic painting and she is planning to order a few canvases and paints from an online stationery shop. The price of each 10 x 10 sized canvas is **120 tk** and the price of each 25 ml paint tube is **75 tk**. Depending on the total amount ordered from the shop, she will get some discounts. The table below shows the discount she will get on her total amount.

|Total Amount (TK)|Discount (TK)|
|------|------|
|0 - 299|No Discount|
|300 - 499|10|
|500 - 749 |20|
|750 - 999|50|
|>= 1000|150|

Write a python program and take two inputs from the user. The first input will be the number of canvases and the second input will be the number of paint tubes ordered. Based on the price of each item, calculate the total amount that Fiona needs to pay including the discount.  

=================================

**Sample Input 1:**\
5\
8\
**Sample Output 1:**\
Previous total: 1200\
New total after discount: 1050

**Explanation:** 5 * 120 + 8 * 75 = 1200 Tk was her bill without discount.  For 1200 Tk, the discount amount is 150 Tk. So, her new bill with a discount is (1200 - 150) = 1050 Tk.

=================================

**Sample Input 2:**\
0\
3\
**Sample Output 2:**\
Previous total: 225\
New total after discount: 225

**Explanation:** 0 * 120 + 3 * 75 = 225 Tk was her bill without discount.  For 225 Tk, the discount amount is 0 Tk. So, her new bill with a discount is (225 - 0) = 225 Tk.

In [ ]:
canv=int(input("Enter the number of ordered Canvases: "))
pt=int(input("Enter the number of ordered Paint Tubes: "))
total=((canv*120)+(pt*75))
if (total>=0 and total<=299):
  discount=(total-0)
  print(f"Previous total: {total}\nNew total after discount: {discount}")
elif (total>=300 and total<=499):
  discount=(total-10)
  print(f"Previous total: {total}\nNew total after discount: {discount}")
elif (total>=500 and total<=749):
  discount=(total-20)
  print(f"Previous total: {total}\nNew total after discount: {discount}")
elif (total>=750 and total<=999):
  discount=(total-50)
  print(f"Previous total: {total}\nNew total after discount: {discount}")
else:
  discount=(total-150)
  print(f"Previous total: {total}\nNew total after discount: {discount}")

Enter the number of ordered Canvases: 5
Enter the number of ordered Paint Tubes: 8
Previous total: 1200
New total after discount: 1050

### Task 23

You are designing a robot that can calculate the temperature and guess the season. Write a Python program that takes a number as input, representing the temperature in degrees Fahrenheit, and converts it into degrees Celsius, and then prints the season based on the following table:


| Temperature (degrees Celsius) | Season|
| --- | --- |
|Less than 20 degrees| Winter |
|  |  |
|Between 20 degrees and 25 degrees (inclusive)| Autumn |
|  |  |
|Greater than 25 degrees and less than 30 degrees| Spring |
|  |  |
|Greater than or equal to 30 degrees| Summer |
|  |  |

Use the following formula to convert the temperature:\
(degrees Celsius) = ((degrees Fahrenheit) - 32) * 0.56

==========================================================

**Sample Input 1:**\
82

**Sample Output 1:**\
28 degrees C\
Spring

**Explanation:** The temperature in Celsius is (82 - 32) * 0.56 = 28 degrees, which is printed. This is between 25 and 30 degrees, so “Spring” is printed after that.

==========================================================

**Sample Input 2:**\
32

**Sample Output 2:**\
0 degrees C\
Winter

**Explanation:** The temperature in Celsius is (32 - 32) * 0.56 = 0 degrees, which is printed. This is less than 20 degrees, so “Winter” is printed after that.

==========================================================

**Sample Input 3:**\
76

**Sample Output 3:**\
24.64 degrees C\
Autumn

**Explanation:** The temperature in Celsius is (76 - 32) * 0.56 = 24.64 degrees, which is printed. This is between 20 degrees and 25 degrees (inclusive), so “Autumn” is printed after that.

==========================================================

**Sample Input 4:**\
77

**Sample Output 3:**\
25.2 degrees C\
Spring

**Explanation:** The temperature in Celsius is (77 - 32) * 0.56 = 25.2 degrees, which is printed. This is greater than 25 degrees and less than 30 degrees, so “Spring” is printed after that.

In [ ]:
t=float(input("Enter a temperature in degree Fahrenheit: "))
T =(t-32)*0.56
T=round(T, 2)
if T<20:
  print(f"{T} degrees C\nWinter")
elif (T>=20 and T<=25):
  print(f"{T} degrees C\nAutumn")
elif (T>25 and T<30):
  print(f"{T} degrees C\nSpring")
else:
  print(f"{T} degrees C\nSummer")

Enter a temperature in degree Fahrenheit: 76
24.64 degrees C
Autumn

# #Extra Problems From BracU Assignments
### Task 1
Write a Python function that takes the “amount” of money as user input. Then splits that money into 500, 100, 50, 20, 10, 5, 2, and 1 taka notes and print the final result.

=====================================================

*Hints: This task’s calculation is similar to Assignment-1’s seconds to hours, minutes conversion.*

=====================================================

**Example1:**\
**Sample Input:**\
1234\
**Sample Output:**\
500 Taka: 2 note(s)\
100 Taka: 2 note(s)\
20 Taka: 1 note(s)\
10 Taka: 1 note(s)\
2 Taka: 2 note(s)

=====================================================

**Example2:**

**Sample Input:**\
151\
**Sample Output:**\
100 Taka: 1 note(s)\
50 Taka: 1 note(s)\
1 Taka: 1 note(s)

=====================================================

###Task 2
Write Python code of a program that reads three sides of a triangle and check whether the triangle is valid or not.

=====================================================

**Sample Input1:**\
7, 10, 5\
**Sample Output1:**\
Valid triangle

=====================================================

**Sample Input2:**\
2, 2, 4\
**Sample Output2:**\
Not a valid triangle

=====================================================

**Sample Input3:**\
7, 9, 12\
**Sample Output3:**\
Valid triangle

### Task 3
Write Python code of a program that reads a number as a year and determines whether it is aleap year or not.\
Three conditions are used to identify leap years:
* The year can be evenly divided by 4, is a leap year, unless
* The year can be evenly divided by 100, it is NOT a leap year, unless:
* The year is also evenly divisible by 400. Then it is a leap year.\
[which implies -\
if the year can be divided by 4 and NOT divided by 100, then it’s a leap year.
If the year can be divided by 4, divided by 100, and divided by 400, then it’s a leap year.]

For example, the years 2000, 2024, 2028, and 2400 are leap years, while 1800, 1900, 2100, 2200, 2300, and 2500 are NOT leap years.\
*Here, 2000, 2400 are divided by 4, 100, and 400. Thus, leap year.*\
*Here, 2024, 2028 are divided by 4 but not divided by 100. Thus, leap year.*

=====================================================

**Sample Input1:**\
2500\
**Sample Output1:**\
Not a leap year

**Explanation:**\
Here, 2500 is evenly divisible by 4 and 100. But it is not divisible by 400. So, 2500 is not a leap year.

=====================================================

**Sample Input2:**\
2024\
**Sample Output2:**\
A leap year

**Explanation:**\
Here, 2024 is evenly divisible by 4 but not divisible by 100. So, 2024 is a leap year.

=====================================================

**Sample Input3:**\
2400\
**Sample Output3:**\
A leap year

**Explanation:**\
Here, 2400 is evenly divisible by 4, 100, and 400. So, 2400 is a leap year.

### Task 4
Write a python code of a program that reads the values for the three sides x, y, and z of a triangle, and then calculates its area. The area is calculated as follows:\
**Area =  s$\sqrt{(s-x)(s-y)(s-z)}$**

**where $ s = \frac{x+y+z}{2}$**

=====================================================

**Sample Input1:**\
7, 10, 5\
**Sample Output1:**\
53.88877434122991

=====================================================

**Sample Input2:**\
7, 9, 12\
**Sample Output2:**\
117.13240371477058

=====================================================

# #<font color='blue'>Assignment 2 (Loop)

### Task 1

Write the python programs, which prints the following sequences of values in loops:

a)	24, 18, 12, 6, 0, -6\
b)	-10, -5, 0, 5, 10, 15, 20\
c)	18, 27, 36, 45, 54, 63\
d)	18, -27, 36, -45, 54, -63

=====================================================================

**Hint(1):** You may use a while loop for solving these problems.

**Hint(2):** We are already familiar with the print() function. But, when we use it to print any value, it automatically adds an additional newline after each print statement.

For example:\
print(1)\
print(2)

Output:\
1\
2

=====================================================================

To solve this problem, in Python3, we can add an extra argument (end = " ") in the print function which tells the program to skip printing the additional newline.

For example:\
print(1, end ="")\
print(2)

Output: (prints the next output right to the previous one)\
12

=====================================================================

In Task-1(a), the loop counter may be initialized at 24 and then the loop should terminate when the loop counter reaches -6. The difference between the first two values is 24 - 18 = 6. So the loop counter value is getting decremented by 6 in every iteration for the given sequence here.

In [ ]:
#a
for i in range (24,-7,-6):
  if i==-6:
    print(i, end=".  ")
  else:
    print(i, end=", ")
print()
# b
for i in range(-10, 21, 5):
  if i == 20:
    print(i, end=".  ")
  else:
    print( i, end=", ")
print()
#c
for i in range(18,64,9):
  if i==63:
    print(i, end=".  ")
  else:
    print(i, end=", ")
print()
#d
for i in range(18,64,9):
  if i%2!=0 or i==-63:
    i=i*(-1)
    print(i, end=".  ")
  else:
    print(i, end=", ")

24, 18, 12, 6, 0, -6.
-10, -5, 0, 5, 10, 15, 20.
18, 27, 36, 45, 54, 63.
18, -27.  36, -45.  54, -63.

### Task 2
Write a Python code for the following:

1)	Ask the user to enter the name of his favorite car.\
2)	Ask the user to enter a Number

Display the name of the user’s favorite car, the number of times specified in the second step.

==========================================================

**Example 1:** If the user enters “Toyota” and 2, your program should print the name “Toyota” two times.

**Sample Input 1:**\
Toyota\
2

**Sample Output 1:**\
Toyota\
Toyota

==========================================================

**Example 2:** If the user enters “Veyron” and 5, your program should print the name “Veyron” five times.

**Sample Input 2:**\
Veyron\
5

**Sample Output 2:**\
Veyron\
Veyron\
Veyron\
Veyron\
Veyron

In [ ]:
name= input("Enter your favourite car's name: ")
num= int(input("Enter a number: "))
i=1
while i<=num:
  print(name)
  i=i+1

Enter your favourite car's name: Veyron
Enter a number: 5
Veyron
Veyron
Veyron
Veyron
Veyron

### Task 3
Write the Python code of a program that adds all numbers that are multiples of **both 7 and 9** up to 600 (including 600) i.e. 63, 126, 189, 252, ....

**The output of your program should be:** 2835\
since 63 + 126 + 189 + 252 + 315 + 378 + 441 + 504 + 567 = 2835

In [ ]:
counter= 1
sum= 0
while counter<=600:
  if(counter%7==0 and counter%9==0):
   sum= sum + counter
  counter+= 1
print(sum)

2835

### Task 4
Write a Python code of a program that adds all numbers that are multiples of **either 7 or 9 but not both**, up to 600 (including 600) i.e. 7, 9, 14, 18, 21..... and so on but not the numbers 63, 126, 189..... which are multiples of both 7 and 9.

**The output of your program should be:** 39814

In [ ]:
sum=0
for count in range (1,601):
  if (count%7==0 and count%9==0):
    continue
  elif(count%7==0 or count%9==0):
    sum+=count
print(sum)

39814

### Task 5
Write the Python code of a program that displays all the **odd numbers** between 10 and 50 (inclusive).

**Output:** 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49

In [ ]:
for odd in range(11,50,2):
  print(odd, end=" ")

11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49

### Task 6
Write a Python code that will calculate the **value of y if the expression** of y is as follows (n is the input):  

$y = 1^2 - 2^2 +3^2 -4^2 +5^2 .........+ n^2 $

==========================================================

**Sample Input 1:**\
5

**Sample Output 1:**\
15

**Explanation:** y = 1 - 4 + 9 - 16 + 25 = 15

==========================================================

**Sample Input 2:**\
10

**Sample Output 2:**\
-55

**Explanation:** y = 1 - 4 + 9 - 16 + 25 - 36 + 49 - 64 + 81 - 100 = -55

==========================================================

**Sample Input 3:**\
20

**Sample Output 3:**\
-210

In [ ]:
s= int(input("Enter a number: "))
i=0
sum=0
while i<=s:
  if i%2==0:
    sum=sum+(-1*(i**2))
    i=i+1
  else:
    sum=sum+(i**2)
    i=i+1
print(sum)

Enter a number: 20
-210

### Task 7

Write a Python code of a program that asks the user to enter ten numbers and then display the total and the average of **ONLY** the **odd numbers** among those ten numbers.\
<font color='red'>[Please do not use list for this task]</font>

==========================================================


**Sample Input 1:**\
1

2

3

4

5

6

7

8

9

10

**Sample Output 1:**
The total of the odd numbers is 25 and their average is 5.0


**Explanation:** The total is 1 + 3 + 5 + 7 + 9 = 25 and the average is 25/5 = 5.0

==========================================================


**Sample Input 2:**\
-20

13

-5

40

-17

10

20

-8

99
  
-200

**Sample Output 2:**

The total of the odd numbers is 90 and their average is 22.5


**Explanation:** The total is 90 = 13 + (-5) + (-17) + 99) and their average is 90/4 = 22.5

In [ ]:
sum = 0
j= 0
for i in range(10):
  i= int(input("Enter a number: "))
  if i%2!=0:
    j+=1
    sum+=i
print("The total of the odd numbers is",sum, "and their average is ",sum/j)

Enter a number: 1
Enter a number: 2
Enter a number: 3
Enter a number: 4
Enter a number: 5
Enter a number: 6
Enter a number: 7
Enter a number: 8
Enter a number: 9
Enter a number: 10
The total of the odd numbers is 25 and their average is  5.0

### Task 8
Write a Python code for the following:
* Ask the user to enter a Number, N
* Display the summation of multiples of 7 up to that number (**from 1 to N inclusive**)

==========================================================

**Sample Input 1:**\
50

**Sample Output 1:**\
196

**Explanation:** The summation of multiples of 7 up to 50 is 7 + 14 + 21 + 28 + 35 + 42 + 49 = 196

==========================================================


**Sample Input 2:**\
75

**Sample Output 2:**\
385

**Explanation:** The summation of multiples of 7 up to 75 is 7 + 14 + 21 + 28 + 35 + 42 + 49 + 56 + 63 + 70 = 385

In [ ]:
n = int(input("Enter a value for N: "))
sum= 0
for number in range(0,n):
  if( number%7==0):
    sum+=number
print(sum)

Enter a value for N: 50
196

### Task 9
Write a Python code that will read 5 numbers from the user. Your program should print the first number, the sum of the first 2 numbers, the sum of the first 3 numbers, and so on up to the sum of 5 numbers.

==========================================================

**Sample Input 1:**\
1\
2\
3\
4\
5

**Sample Output 1:**\
1\
3\
6\
10\
15

**Explanation:**\
When the user enters 1 at first, we print 1, then \
The user enters 2, (1 + 2) = 3, so our output is 3, then \
The user enters 3, (3 + 3) = 6, hence our output is 6, then \
The user enters 4, and we have (6 + 4) = 10, we print 10, and finally\
The user enters 5, the final sum is 15 which is printed as the last output.

==========================================================

**Sample Input 2:**\
11\
-29\
-3\
47\
50

**Sample Output 2:**\
11\
-18\
-21\
26\
76

**Explanation:**\
When the user enters 11 at first, we print 11, then \
The user enters -29, (11 + (-29)) = -18, so our output is -18, then \
The user enters -3, (-18 - 3) = -21, hence our output is -21, then \
The user enters 4, and we have (-21 + 47) = 26, we print 26, and finally\
The user enters 50, the final sum is (26 + 50) = 76 which is printed as the last output.

In [ ]:
sum=0
for i in range (1, 6):
  u= int(input("Enter a number: "))
  sum= sum+u
  print(sum)

Enter a number: 11
11
Enter a number: -29
-18
Enter a number: -3
-21
Enter a number: 47
26
Enter a number: 50
76

### Task 10
Write a Python program which takes a number and prints the digits from the unit place, then the tenth, then hundredth, etc. <font color='red'>(Right to Left)</font>

<font color='red'>[Consider the input number to be an INTEGER. You are not allowed to use String indexing for solving this task]</font>

**Example:**

If the user gives 32768,

then print 8, 6, 7, 2, 3

=========================================================================

**Hint (1):**  The input() function, converts the input data to String data type by default. Therefore, please type cast it to an integer before proceeding further.


**Hint  (2):** First to get the digit from the right side, we can take the remainder of the number using modulus (%) operator i.e. mod 10 to get the rightmost digit and print it. For dropping the last digit, we can perform floor division by 10 on the number and then continue the same to print the other digits as shown below.

32768 % 10 = 8

32768 // 10 = 3276

Then,

3276 % 10 = 6

3276 // 10 = 327

and so on

327 % 10 = 7

327 // 10 = 32

32 % 10 = 2

32 // 10 = 3

3 % 10 = 3

3 // 10 = 0

Done! When the number becomes 0 you can end your loop.

In [ ]:
inp=(input("Enter a number: "))
i= int(inp)
while i>0:
  rem=i%10
  if i//10==0:
    print(rem, end=" ")
    i=i//10
  else:
    i=i//10
    print(rem, end=", ")

Enter a number: 32768
8, 6, 7, 2, 3

### Task 11

Write a Python program that takes a number and prints how many digits are in that number. \
<font color='red'>[Consider the input number to be an INTEGER.]</font>

<font color='red'>[You are not allowed to use len() function]</font>

**Example:**

If the user gives 9876,

your program should print 4.

==============================================================================

**Hint:** We may keep floor dividing by ten and count how many times this can be done until the number becomes 0 as illustrated below.

9876 // 10 = 987, count = 1 \
then, 987 // 10 = 98, count = 2 \
98 // 10 = 9, count = 3 \
9 // 10 = 0, count = 4

Done! When the number becomes 0 your loop can end giving you the count of digits, in this case for our input of 9876, 4 digits.

In [ ]:
n = int(input("Enter a number: "))
c = 0
while(n!= 0):
    n = n // 10
    c += 1
print(c)

Enter a number: 9876
4

### Task 12
Write a Python program that takes a number from the user and prints its digits from  <font color='red'> left to right. </font>

<font color='red'>[Consider the input number to be an INTEGER. You are not allowed to use String indexing for solving this task]</font>

=========================================================================

**Example:** if the user gives 32768, then print 3, 2, 7, 6, 8

=========================================================================

**Hint(1):**  The input() function takes the input data as String data type by default. Please convert it to an integer before starting your code for the task.

**Hint(2):**  

Step 1: First, count how many digits\
Step 2: Then, calculate 10 to the power (number of digits - 1).

Step 3 with explanation: Say, the input given by the user as in our example, 32768 has 5 digits, so calculating 10 to the power 4 gives us 10000. Then floor dividing 32768 by 10000, we can get 3.\
Proceeding further, the remainder of 32768 by 10000 (32768 % 10000) gives us 2768. This time to get 2 we need to floor divide 2768 by 1000 which is basically our 10000/10. Again, taking remainder of 2768 by 1000 gives us 768 which we then divide by 100 (i.e. 1000/10) and keep on doing this until there are no more digits left (zero).


**To summarize and clarify:**\
Loop 1: First, we count digits like our Task 12, say 5 in this case for 32768\
Loop 2: Then, we calculate 10 to the power 4 (5-1), that is 10000.\
Loop 3: Then we keep repeating the three steps of floor dividing, modulus and dividing by 10 as demonstrated below.

32768 // 10000 = 3\
32768 % 10000 = 2768 \
10000 // 10 = 1000

2768 // 1000 = 2\
2768 % 1000 = 768\
1000 // 10 = 100

768 // 100 = 7\
768 % 100 = 68 \
100 // 10 = 10

68 // 10 = 6\
68 % 10 = 8 \
10 // 10 = 1

8 // 1 = 8\
8 % 1 = 0 \
1 // 10 = 0

Done. Loop ends as number has become 0.

In [ ]:
value=int(input("Enter a number: "))
counting=0
store=value
while value>0:
    value=value//10
    counting=counting+1
div=10**(counting-1)
koma=0
while store>0:
    koma+=1
    temp=store//div
    if koma<counting:
        print(temp, end=",")
    else:
        print(temp, end="")
    store=store%div
    div=div//10

Enter a number: 32768
3,2,7,6,8

### Task 13

Write a Python program that takes a number as input from the user and prints the divisors of that number as well as how many divisors the number has.

==========================================================

**Sample Input 1:**\
6

**Sample Output 1:**\
1, 2, 3, 6 \
Total 4 divisors.


==========================================================

**Sample Input 2:**\
121

**Sample Output 2:**\
1, 11, 121 \
Total 3 divisors.

In [ ]:
n =int(input("Enter the number: "))
c = 0
for i in range(1,n+1):
    if n%i==0:
      c+=1
      print(i, end=" ")
print("\nTotal divisor is",c)

Enter the number: 6
1 2 3 6
Total divisor is 4

### Task 14
Write a Python program that takes a number as input from the user and tells if it is a perfect number or not.

**Perfect Number:** An integer number is said to be a perfect number if its factors, including 1 but not the number itself, sum to the number.

==========================================================

**Sample Input 1:**\
6

**Sample Output 2:**\
6 is a perfect number

**Explanation:**\
6 has 4 divisors: 1, 2, 3, and 6. \
If we add all factors except 6 itself, 1 + 2 + 3 = 6. The sum of the factors excluding the number itself sum up to the number therefore "6 is a perfect number" is printed.

==========================================================

**Sample Input 2:**\
28

**Sample Output 2:**\
28 is a perfect number

**Explanation:**\
28 has the divisors: 1, 2, 4, 7, 14, and 28. \
If we add all factors except itself we get 28, 1 + 2 + 4 + 7 + 14 = 28.

==========================================================

**Sample Input 3:**\
33

**Sample Output 3:**\
33 is not a perfect number

**Explanation:**\
33 has 4 divisors: 1, 3, 11, and 33. \
If we add all factors except itself, 15 = 1 + 3 + 11. The sum is not equal to the number, therefore 33 is not a perfect number.

In [ ]:
number = int (input("Enter the number: "))
sum = 0
for count in range(1,number+1):
  if number%count == 0:
    if number!=count:
      sum+=count
if(sum==number):
  print(number,"is a perfect number")
else:
  print(number,"is not a perfect")

Enter the number: 28
28 is a perfect number

### Task 15

Write a Python program that asks the user for one number and tells if it is a prime number or not.

**Prime Number:** If a number has only two divisors, (1 and itself), then it is a prime number. If it is divisible by more numbers, then it is not a prime.

**Hint:** You may use the code for counting divisors from Task 14.

==========================================================

**Sample Input 1:**\
11

**Sample Output 1:**\
11 is a prime number

**Explanation:** 11 has only 2 divisors: 1 and 11.

==========================================================

**Sample Input 2:**\
6

**Sample Output 2:**\
6 is not a prime number

**Explanation:** 6 has 4 divisors: 1, 2, 3 and 6.

In [ ]:
number=int(input("Enter the number: "))
i = 0
for count in range(1,number+1):
  if number%count==0:
    i+=1
if(i>2):
  print(number,"is not a prime number")
else:
  print(number,"is a prime number")

Enter the number: 6
6 is not a prime number

### Task 16

Write a Python program that asks the user for a quantity, then takes that many numbers as input and prints the maximum, minimum and average of those numbers.

<font color='red'>[Please note that you CANNOT use max, min built-in functions]

[Also, you DO NOT need to use lists for this task]</font>

==========================================================

**Example:** If the user enters 5 as an input for quantity and the enters the 5 numbers, 10, 4, -1, -100, and 1. \
The output of your program should be: “Maximum 10”, “Minimum -100”, “Average is -17.2” as shown below.

**Input:**\
5
10
4
-1
-100
1

**Output:**\
Maximum 10\
Minimum -100\
Average is -17.2

**Explanation:** Average calculation: (10 + 4 + (-1) + (-100) + 1)/5 = -86/5 = -17.2

In [ ]:
n = int(input("numbers to enter: "))
print("Enter the numbers: ")
u = int(input())
sum = u
maximum= u
minimum= u
for count in range(n - 1):
    u = int(input())
    sum = sum + u
    if ( u> maximum):
        maximum = u
    elif (u < minimum):
        minimum = u
avg = sum / n
print("Maximum", maximum)
print("Minimum", minimum)
print("Average is", avg)

numbers to enter: 5
Enter the numbers:
10
4
-1
-100
1
Maximum 10
Minimum -100
Average is -17.2

### Task 17

Write a python program that prints a square of size N using + where N will be given as input as illustrated in the examples below.

**Hint:** You may need to use nested loops to solve this problem.

==========================================================

**Sample Input 1:**

5

**Sample Output 1:**<br>
+++++<br>
+++++<br>
+++++<br>
+++++<br>
+++++<br>

**Explanation:** Here, we may see it as 5 rows and 5 columns, where in each horizontal row/line, 5 '+' is printed next to each other and we have a total of 5 lines.

==========================================================

**Sample Input 2:**

3

**Sample Output 2:**<br>
+++<br>
+++<br>
+++<br>

**Explanation:** If the input is 3, then there will be 3 rows and 3 columns, where in each horizontal row/line, '+' is printed 3 times, 1 in each of the 3 columns and we will have a total of 3 lines.

In [ ]:
size_N =int(input("Enter the N value: "))
for row in range(1,size_N+1):
  for column in range(1,size_N+1):
    print("+",end="")
  print()

Enter the N value: 3
+++
+++
+++

### Task 18

Write a python program that prints a rectangle of size M (height/line numbers) and N (length/column numbers) using incrementing numbers where M and N will be given as input. Please look at the examples below for clarification.

**Hint:** You may need to use nested loops and print the loop counter variable in one of the loops.

==========================================================

**Sample Input 1:**\
4\
6

**Sample Output 1:**<br>
123456<br>
123456<br>
123456<br>
123456<br>

**Explanation:** The user has given 4 rows/lines and 6 columns as input. Therefore, we have 4 lines in our output here and in each line, the column number is printed from 1 through to 6 for the 6 columns.

==========================================================

**Sample Input 2:**\
3\
2

**Sample Output 2:**<br>
12<br>
12<br>
12<br>

**Explanation:** Our user input this time is 3 rows/lines and 2 columns. So, our output has 3 lines and in each line, the column number 1 and 2 are printed next to each other as the user only wants 2 columns here.

In [ ]:
row =int(input())
column =int(input())
for row_count in range(1,row+1):
  for column_count in range(1,column+1):
    print(column_count, end="")
  print()

4
6
123456
123456
123456
123456

### Task 19

Write a python program that prints a right angled triangle of height N using incrementing numbers where N will be given as input.

**Hint:** You may need to use nested loops. Try to think up to which point should the inner loop run.

==========================================================

**Sample Input 1:**\
4

**Sample Output 1:**<br>
1<br>
12<br>
123<br>
1234<br>

**Explanation:** For an input of 4, we have 4 rows/lines where in each line, the respective column number is printed sequentially up to the line/row number. So, in line number 1, we have 1 only. In line 2, 12 is printed. In line 3, we have 123 and so on.

==========================================================

**Sample Input 2:**\
5

**Sample Output 2:**<br>
1<br>
12<br>
123<br>
1234<br>
12345<br>

**Explanation:** Numbers are printed sequentially up to the line number for each of the lines.

In [ ]:
size = int(input("Enter the n value: "))
for row in range(1,size+1):
  for coloum in range(1,row+1):
    print(coloum,end='')
  print()

Enter the n value: 5
1
12
123
1234
12345

# <font color='purple'> Task 20 to Task 24 are [ Tracing ]

### Task 25

Write a python program that prints all the fibonacci numbers from 0 to N where N will be given as input by the user.

**A Fibonacci number is a number which is the summation of its previous two fibonacci numbers.**

The first two fibonacci numbers are 0 and 1.

So, the 3rd is 0 + 1 = 1,

the 4th is 1 + 1 = 2,

the 5th is 1 + 2 = 3,

the 6th one is 2 + 3 = 5,

and so on.

i.e. 0, 1, 1, 2, 3, 5, 8, 13, 21.......

==========================================================

**Sample Input 1:**<br>
10

**Sample Output 1:**<br>
0 1 1 2 3 5 8

**Explanation**: All fibonacci numbers up to the number 10 is printed separated by spaces.

==========================================================

**Sample Input 2:**<br>
15

**Sample Output 2:**<br>
0 1 1 2 3 5 8 13

**Explanation**: All fibonacci numbers up to the number 15 is printed separated by spaces.

In [ ]:
n =int(input("Enter the number: "))
i1= 0
i2= 1
sum=0
for j in range(0,n):
  if sum<n:
    print(sum, end=" ")
    i1=i2 #i1=1,0,1,
    i2=sum #i2=0,1,1
    sum= i1+i2 #sum=1+0=1, 0+1=1, 1+1=2

Enter the number: 10
0 1 1 2 3 5 8

### Task 26

Write a python program that converts a decimal integer number to a binary number.

*Hint: A decimal can be converted to a binary number by keeping track of the remainders after each division of that number by 2.*

==========================================================

**Example 1:**

For example, to convert 11 to a binary number, we can try the following approach.

11 // 2 = 5 (Remainder 1)
<br>5 // 2 = 2 (Remainder 1)
<br>2 // 2 = 1 (Remainder 0)
<br>1 // 2 = 0 (Remainder 1)

Now, taking the remainders from bottom to top gives us the binary number which is 1011. Binary of 11 is 1011.

**Sample Input 1:** <br>
11

**Sample Output 1:**<br>
1101

==========================================================

**Example 2:**

Similarly, to convert 13 to a binary number:

13 // 2 = 6 (Remainder 1)
<br>6 // 2 = 3 (Remainder 0)
<br>3 // 2 = 1 (Remainder 1)
<br>1 // 2 = 0 (Remainder 1)

Again, taking the remainders from the bottom to top, which is 1101 gives us the binary number. Binary of 13 is 1101.

**Sample Input 2:** <br>
13

**Sample Output 2:**<br>
1011

In [ ]:
n=int(input("Enter a decimal number: "))
while n>0:
  print(n%2, end="")
  n=n//2

Enter a decimal number: 13
1011

### Task 27

Write a python program that converts a binary number to a decimal integer number after taking the binary number as an input from the user.

**Note: A binary number can be converted to its corresponding decimal number by multiplying each binary digit with a power of 2, where the power denotes the position of the binary digit**

==========================================================

**Example 1:**

For example, to convert 1010 to decimal, we can do this


$2^{3}$ x 1 + $2^{2}$ x 0 + $2^{1}$ x 1 + $2^{0}$ x 0 = 10


**Sample Input 1:** <br>
1010

**Sample Output 1:** <br>
10

==========================================================

**Example 2:**

So, to convert 11101, we can do this


$2^{4}$ x 1 + $2^{3}$ x 1 + $2^{2}$ x 1 + $2^{1}$ x 0 + $2^{0}$ x 1 = 29


**Sample Input 2:** <br>
11101

**Sample Output 2:** <br>
29

In [ ]:
n=int(input("Enter a Binary Number: "))
d=0
m=1
u=len(str(n))
for i in range(u):
  r=n%10
  d=d+(r*m)
  m=m*2
  n=int(n/10)
print(d)

Enter a Binary Number: 11101
29

### Task 28
Write a Python program that asks the user for a range (a starting number and an ending number) and then
**counts** how many numbers are prime numbers and how many numbers are perfect numbers between that range. It also **prints** those numbers in the format shown in the output of the example given below.


=========================================================================

**Hint (1):** We may declare two strings/lists to store the prime and perfect numbers. Inside the loop, we check for prime and perfect numbers and add them to respective string/list besides counting them.

**Hint (2):** We may need to convert numbers in String to integers for checking and calculations. We may again need to convert numbers to Strings for storing and printing as the outputs shown in the example below.

=========================================================================

**Example:** If the user gives us a range of between 2 and 6, there are 3 prime numbers (2, 3, 5) and 1 perfect number (6) in that range.

**Input:**\
2\
6

**Output:**\
Between 2 and 6,\
Found 3 prime numbers \
Found 1 perfect number\
Prime numbers: 2,  3,  5 \
Perfect number: 6

In [ ]:
lower_value = int(input ("Please, Enter the Lowest Range Value: "))
upper_value = int(input ("Please, Enter the Upper Range Value: "))
print ("The Prime Numbers in the range are: ")
for number in range (lower_value, upper_value + 1):
    if number > 1:
        for i in range (2, number):
            if (number % i) == 0:
                break
        else:
            print (number)

Please, Enter the Lowest Range Value: 2
Please, Enter the Upper Range Value: 6
The Prime Numbers in the range are:
2
3
5

###Task 29

Write a python program that asks the user for a range, a starting number(inclusive) and an ending number (inclusive). Then, take another input to for checking. If the product of all the digits of each number in the range is divisible by the third input, then print the number.

=========================================================================

**Sample Input 1:**\
25\
30\
4

**Sample Output 1:**\
12 16 0

**Explanation:** The product of all the digits of each number from 25 to 30 are 2 x 5, 2 x 6, 2 x 7, 2 x 8, 2 x 9 and 3 x 0. The final products are 10, 12, 14, 16, 18 and 0 respectively. Out of these numbers only 12, 16 and 0 are divisible by the third input 4 and therefore they are printed.

=========================================================================

**Sample Input 2:**\
351\
356\
9

**Sample Output 2:**\
45 90

**Explanation:** The product of all the digits of each number from 351 to 356 are 3x5x1, 3x5x2, 3x5x3, 3x5x4, 3x5x5 and 3x5x6. The final products are 15, 30, 45, 60, 75 and 90 respectively. Out of these numbers only 45 and 90 are divisible by 9 and therefore they are printed.

=========================================================================

# #<font color='blue'>Assignment 3 (String)

### Task 1

Write a Python program that takes a String as an input from the user and prints that String in **reverse** order.

**<font color='red'>You cannot use the built-in reverse() function for this task.**

=====================================================================

**Sample Input 1:**\
 CSE110

**Sample Output 1:**\
 011ESC

=====================================================================

**Sample Input 2:**\
Python

**Sample Output 2:**\
nohtyP

=====================================================================

**Sample Input 3:**\
1576527  

**Sample Output 3:**\
7256751

=====================================================================

In [ ]:
n=input("Enter a sting: ")
print(n[::-1])

Enter a sting: Python
nohtyP

### Task 2

Write a python program that takes 2 inputs from the user, where the first input is a string with length greater than 1. The second input is the index of the first given string from where you have to start reversing. After reversing the first input string from that index, print the new string back to the user. See samples below for clarification.

=====================================================================

**Sample Input 1:**

72418

4

**Sample Output 1:**

81427


**Explanation**: Our second input, index '4' is the last index of our first input String '72418', hence the entire string is reversed giving us '81427'.

=====================================================================

**Sample Input 2:**

12345

2

**Sample Output 2:**

32145

**Explanation**: The second input is '2' so we have to reverse from index 2 of our first input. The 2nd index of our first input String is '3', index 1 is '2' and index 0 is '1'. Hence, if we reverse indexes 0 to 2, we get '321'. Index 3 and 4 which is '4' and '5' respectively remains unchanged hence our final output is '32145'.

=====================================================================

**Sample Input 3:**

aBcd1234defg

5

**Sample Output 3:**

21dcBa34defg

**Explanation**: From our first input String 'aBcd1234defg',

index 0 = 'a'

index 1 = 'B'

index 2 = 'c'

index 3 = 'd'

index 4 = '1'

index 5 = '2'

index 6 = '3'

Since our second input is 5, index 0 to index 5 is reversed and we have '21dcBa' and the rest is unchanged from indexes 6 to 11 ('34defg'). Therefore, we have '21dcBa34defg' finally.

=====================================================================

In [ ]:
n=input("Enter String: ")
i=int(input("Enter number: "))
print(n[i::-1]+n[i+1::1])

Enter String: aBcd1234defg
Enter number: 5
21dcBa34defg

### Task 3
Write a program that takes a **string** as input and prints “Binary Number” if the string contains only 0s or 1s. Otherwise, print “Not a Binary Number”.

=====================================================================

**Sample Input 1:**\
01101101101

**Sample Output 1:**\
Binary Number

=====================================================================

**Sample Input 2:**\
12344ab0

**Sample Output 2:**\
Not a Binary Number

=====================================================================

**Sample Input 3:**\
10127490111

**Sample Output 3:**\
Not a Binary Number

=====================================================================

**Sample Input 4:**\
Binary Number

**Sample Output 4:**\
Not a Binary Number

=====================================================================

In [ ]:
n=input("Enter a string: ")
for i in n:
  if i!='0' and i!='1':
    print("Not a Binary Number")
    break
else:
  print("Binary Number")

Enter a string: 12344ab0
Not a Binary Number

### Task 4

Write a Python program that will ask the user to enter a  word as an input.

* If the length of the input string is less than 4, then your program should print the same string as an output.
* If the input string’s length is greater than 3, then your program should add "er" at the end of the input string.
* If the input string already ends with "er", then add "est" instead, regardless of the length of the input string
* If the input string already ends with "est", then your program should print the same input string as an output.

=====================================================================

**Sample Input 1**:\
strong

**Sample Output 1**:\
stronger

**Explanation**: Length of input = 6, not less than 4, greater than 3, does not end with "er" or "est", therefore "er" is added making "strong", "stronger".

=====================================================================

**Sample Input 2**:\
stronger

**Sample Output 2**:\
strongest

**Explanation**: Input string ends with "er", therefore "er" is replaced with "est" instead so we have "strongest" from "stronger".

=====================================================================

**Sample Input 3**:\
strongest

**Sample Output 3**:\
strongest

**Explanation**: Our input here already ends with "est" so the same input i.e. "strongest" is printed.

=====================================================================

**Sample Input 4**:\
abc

**Sample Output 4**:\
abc

**Explanation**: Since length of input string is less than 4, the given input is printed as output.

=====================================================================

**Sample Input 5**:\
ber

**Sample Output 5**:\
best

**Explanation**: Although the length of the input string is 3 which is less than 4, but it ends with er so we ignore the length and replace "er" with "est" regardless.

=====================================================================

In [ ]:
i = input("Enter a string: ")
if(len(i)<4):
    if i.endswith("er"):
        o = i[0:1] + "est"
        print(o)
    else:
        o = i
        print(o)
elif(len(i)>3):
    if not i.endswith("er") and not i.endswith("est"):
        o = i+"er"
        print(o)
    if i.endswith("er"):
        o = i[0:-2]+"est"
        print(o)
    elif i.endswith("est"):
        o = i
        print(o)

Enter a string: ber
best


### Task 5

Write a Python program that will ask the user to input a string (containing exactly one word). Then your program should print subsequent substrings of the given string as shown in the examples below.

=====================================================================

**Hints(1):** You may use "for loop" for this task.

**Hints(2):** You may use print() function for printing newlines.

For example:\
print(1)\
print(2)

Output:\
1\
2

=====================================================================

We can use print(end = "") to skip printing the additional newline.

For example:\
print(1, end ="")\
print(2)

Output:(prints the following output right next to the previous one)\
12

=====================================================================

**Sample Input 1**:\
BANGLA

**Sample Output 1**:\
B\
BA\
BAN\
BANG\
BANGL\
BANGLA

**Explanation**: The length of the string is 6 so there are 6 lines where in each line a substring of the input string, of length equal to the line number is printed i.e. substring with only the letter "B" printed in the first line, substring "BA" of length 2 printed in the 2nd line, "BAN" length of which is 3 being printed in the 3rd line and so on.

=====================================================================

**Sample Input 2**:\
DREAM

**Sample Output 2**:\
D\
DR\
DRE\
DREA\
DREAM

**Explanation**: Simply, no of lines = length of the input string and no of letters in each line = line number.

=====================================================================

In [ ]:
n=input("Enter a String: ")
j=len(n)
for row in range(j):
  for col in range(row+1):
    print(n[col],end="")
  print()

Enter a String: DREAM
D
DR
DRE
DREA
DREAM

### Task 6

Write a Python program that will ask the user to input a string (containing exactly one word). Then print the ASCII code for each character in the String using the ord() function.

To check if your program is working correctly or not, you can find a list of all correct values from the following website. You may look at “Dec” and “Char” columns only and ignore the other columns for this problem.\
link: http://www.asciitable.com/

=====================================================================

**Sample Input 1**:\
Programming

**Sample Output 1**:\
P : 80\
r : 114\
o : 111\
g : 103\
r : 114\
a : 97\
m : 109\
m : 109\
i : 105\
n : 110\
g : 103

**Explanation**: Each line prints a letter sequentially from the given string and its corresponding ASCII value separated by " : ".

=====================================================================

**Sample Input 2**:\
hunger

**Sample Output 2**:\
h : 104\
u : 117\
n : 110\
g : 103\
e : 101\
r : 114

**Explanation**: Same as previous.

=====================================================================

In [ ]:
n=input("Enter a string: ")
for i in n:
  print(i,":", ord(i))

Enter a string: Programming
P : 80
r : 114
o : 111
g : 103
r : 114
a : 97
m : 109
m : 109
i : 105
n : 110
g : 103

### Task 7

Write a Python program that takes a string as an input from the user containing all small letters and then prints the next alphabet in sequence for each alphabet in the input.

*Hint: You may need to use the functions ord() and chr(). The ASCII value of ‘a’ is 97 and ‘z’ is 122.*

=====================================================================

**Sample Input 1:**\
abcd

**Sample Output 1:**\
bcde

=====================================================================

**Sample Input 2:**\
the cow

**Sample Output 2:**\
uif!dpx

=====================================================================

<font color='red'>[Must fulfil this criteria]</font>

**Sample Input 3:**\
xyzabc

**Sample Output 3:**\
yzabcd

=====================================================================

In [ ]:
e=input("Enter a string: ")
n=""
for i in e:
  ascii=ord(i)
  if ascii==ord('z'):
    n=n+'a'
  else:
    n=n+chr(ascii+1)
print(n)

Enter a string: xyzabc
yzabcd

### Task 8

Write a Python program that takes a String as input from the user, removes the characters at even index and prints the resulting String in uppercase without using the built-in function upper().

=====================================================================

**Sample Input 1**:

String

**Sample Output 1**:

TIG

**Explanation**: The characters 'S', 'r' and 'n' are at index positions 0, 2, and 4 respectively. Hence they are removed and the remaining characters 'tig' are capitalized giving us output 'TIG'.

=====================================================================

**Sample Input 2**:

abcd

**Sample Output 2**:

BD

**Explanation**: Only the characters at the odd indices, 1 and 3, 'b' and 'd' are captitalized, concatenated and printed.

=====================================================================

In [ ]:
e= input("Enter any string: ")
n=''
for i in range(len(e)):
  if i%2!=0:
    c=chr(ord(e[i])-32)
    n+=c
print(n)

Enter any string: abcd
BD

### Task 9
Given a string, create a new string with all the **consecutive duplicates removed**.

**Hint:** You may make a new string to store the result. You can check whether the current character and the next character are the same, then add that character to the new string.

**Note**: Only consecutive letters are removed not all duplicate occurences of a letter. You may try doing this alternative i.e. removing all duplicate letters from a given string, for your own practice.

=====================================================================

**Sample Input 1**:\
AAABBBBCDDBBECE

**Sample Output 1:**\
ABCDBECE

**Explanation**: From the 3 consecutive "A"s, 2 are removed and we have 'A' only. Then from the 4 consecutive 'B's, 3 are removed and only one is added to the new string giving us "AB". Since we have only one 'C' next, it is added making the resulting string "ABC" now and so on.

=====================================================================

**Sample Input 2**:\
Jupyter Notebook is better. Case sensitivity check AAaaaAaaAAAa.

**Sample Output 2:**\
Jupyter Notebok is beter. Case sensitivity check AaAaAa.

**Explanation**: Just the 2 consectutive 'o's and 't's are changed to one at first and the uppercase 'A' and lowercase 'a' are treated separately i.e. case sensitive when checking for consecutive duplicates.

In [ ]:
n=input("Enter a string: ")
s=""
for i in n:
  if s=="" or i!=s[len(s)-1]:
    s=s+i
print(s)

Enter a string: AAABBBBCDDBBECE
ABCDBECE

### Task 10

Write a Python program that will take one input from the user made up of two strings separated by a comma and a space (see samples below). Then create a mixed string with alternative characters from each string. Any leftover chars will be appended at the end of the resulting string.

*Hint: For adding the leftover characters you may use string slicing.*

**Note:** Please do not use lists for this task.

=====================================================================

**Sample Input 1:**\
ABCD, efgh

**Sample Output 1:**\
AeBfCgDh

**Explanation**: At first, the two strings divided by ", " should be separated. Then the first character of the first string 'A' is concatenated with the first character of the second string 'e' which in turn is concatenated to the second character of the first string 'B', the second character of the second string f and so on since the strings are of equal length.

=====================================================================

**Sample Input 2:**\
ABCDENDFGH, ijkl

**Sample Output 2:**\
AiBjCkDlENDFGH

**Explanation**: Here, since the length of the first string is greater than the length of the second string, after separation, the characters are concatenated alternatively as in sample input/output 1, till the length of the second string i.e. ijkl. Since, there are no more characters in the second string after that, the remaining characters if the first string i.e. ENDFGH in this case are concatenated at the end of the final string.

=====================================================================

**Sample Input 3:**\
ijkl, ABCDENDFGH

**Sample Output 3:**\
iAjBkClDENDFGH

**Explanation**: This time, the length of the second string is greater than the length of the first string therefore the first letters of the 2 strings 'i' and 'A', then the second letters 'j' and 'B' and so on are being concatenated until there are no more letters in the first shorter string following which the remaining letters i.e. ENDFGH again in this case too (this may be different for other different string inputs) are added at the end giving us the resulting output string.

=====================================================================

In [ ]:
s1=input("Enter the 1st string: ")
s2=input("Enter the 2nd string: ")
i=0
j=0
sum=""
while i<len(s1) or j<len(s2):
  if i<len(s1):
    sum=sum+s1[i]
    i+=1
  if j<len(s2):
    sum=sum+s2[j]
    j+=1
print(sum)

Enter the 1st string: ABCDENDFGH
Enter the 2nd string: ijkl
AiBjCkDlENDFGH

# <font color='purple'> Task 11 to Task 15 are [ Tracing ]

### Task 16

Write a python program that takes 2 inputs from the user. The first input is a string and the second input is a letter. The program should remove all occurences of the letter from the given string and print the output. If the letter is not found in the string and the length of string is greater than 3, then remove the first letter and last letter of the given string and print it. Otherwise print the string as it is. You can assume that all the input will be in lowercase letter.

=====================================================================


**Sample Input 1**:\
tanjiro kamado\
a

**Sample output 1**:\
tnjiro kmdo

**Explanation**: All 3 instances of the character 'a' is removed from the input String 'tanjiro kamado' to give us output 'tnjiro kmdo'.

=====================================================================

**Sample Input 2**:\
eren yeager\
k


**Sample Output 2**:\
ren yeage

**Explanation**: The character 'k' is absent in the first input String 'eren yeager' and it's length is 11 which is greater than 3 therefore the first character 'e' and the last character 'r' is removed. Hence, the final String is 'ren yeage'.

=====================================================================

**Sample Input 3:**\
hi\
a

**Sample Output 3:**\
hi

**Explanation**: The letter 'a' is not found in our first input 'hi', the length of which is 2. Since the character is not present and the length is less than 3, we print the String 'hi' as it is.

=====================================================================

In [ ]:
n = input("Enter a String in lowercase letter: ")
c = input("Enter a lowercase letter: ")
if(c in n):
    print(n.replace(c,""))
else:
    if(len(n) > 3):
        print(n[1:-1])
    else:
        print(n)

Enter a String in lowercase letter: tanjiro kamado
Enter a lowercase letter: a
tnjiro kmdo

### Task 17

Write a python program that splits a given string on a given split character. The first input is a String and the second input is the character that will be used to split the first String.

<font color='red'>[You cannot use the built-in split function for this task]</font>

=====================================================================

**Sample Input 1:**<br/>
This-is-CSE110<br/>
-<br/>

**Sample Output 1:**<br/>
This<br/>
is<br/>
CSE110

**Explanation**: The second input which is the character '-', is used to split or divide the first input String 'This-is-CSE110' into 'This', 'is' and 'CSE110' which are printed individually in separate lines.

=====================================================================

**Sample Input 2**:\
tom@gmail,harry@yahoo,bob@gmail,mary@gmail

,

**Sample Output 2**:

tom@gmail

harry@yahoo

bob@gmail

mary@gmail

=====================================================================

In [ ]:
n = input("Enter a String: ")
c = input("Enter a Character from your string: ")
print(n.replace(c,"\n"))

Enter a String: This-is-CSE110
Enter a Character from your string: -
This
is
CSE110

### Task 18

Write a python program that takes two inputs. The first input is a string and the second input is a number. If the number is even then concatenate the given string two times the given number and if the number is odd then concatenate the given string three times the given number.

=====================================================================

**Sample Input 1**:

CSE110

4

**Sample output 1**:

CSE110CSE110CSE110CSE110CSE110CSE110CSE110CSE110

**Explanation**: The second input which is the number 4 is even, therefore the first string input 'CSE110' is concatenated(joined together) 4*2 = 8 times.

=====================================================================

**Sample Input 2**:

CSE110

3

**Sample Output 2**:

CSE110CSE110CSE110CSE110CSE110CSE110CSE110CSE110CSE110

=====================================================================

In [ ]:
u=input("Enter a String: ")
n=int(input("Enter a number: "))
if n%2==0:
  print(u*(n*2))
else:
  print(u*(n*3))

Enter a String: CSE110
Enter a number: 3
CSE110CSE110CSE110CSE110CSE110CSE110CSE110CSE110CSE110

### Task 19

Write a python program that takes a string as an input from the user and then modifies the string in such a way that the string always starts with an uppercase letter and the case of each subsequent letter is the opposite of the previous letter (uppercase character followed by a lowercase character followed by an uppercase character and so on).  Finally the modified string is printed to show the user.
*Hint:  Flags/counters can be used to manage uppercase-lowercase.*

**Sample Input 1:**\
Python programming is very easy\
**Sample Output 1:**\
PyThOn PrOgRaMmInG iS vErY eAsY\
**Sample Input 2:**\
I&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     love       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Python &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Programming\
**Sample Output 2:**\
I&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     lOvE       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;pYtHoN&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;pRoGrAmMiNg\
**Sample Input 3:**\
CSE110 Course\
**Sample Output 3**\
CsE110 cOuRsE\
**Sample Input 4:**\
c\
**Sample Output 4:**\
C

=====================================================================

In [ ]:
s=input("Enter a string: ")
c=0
for i in s:
  if not ((ord('A')<=ord(i)<=ord('Z')) or (ord('a')<=ord(i)<=ord('z'))):
    print(i, end='')
  else:
    if c%2==0:
      if ord('a')<=ord(i)<=ord('z'):
        print(chr(ord(i)-32), end='')
      else:
        print(i, end='')
    else:
      if ord('A')<=ord(i)<=ord('Z'):
        print(chr(ord(i)+32), end='')
      else:
        print(i, end='')
    c+=1

Enter a string: I       love         Python         Programming
I       lOvE         pYtHoN         pRoGrAmMiNg

# #<font color='blue'>Assignment 4 (List)

### Task 1
Write a Python program that reads 5 numbers from the user into a list. After reading each number, print all the numbers that have been entered so far in the list.

**Example:**\
If the user enters 3, prints “Numbers in the list: [3]”\
If the user enters 5 next, prints “Numbers in the list: [3, 5]”\
If the user enters 34, prints “Numbers in the list: [3, 5, 34]”\
If the user then enters -11, prints “Numbers in the list: [3, 5, 34, -11]”\
Finally, if the user enters 0 as the last number, prints “Numbers in the list: [3, 5, 34, -11, 0]”

In [ ]:
n=[]
for i in range(5):
  n.append(int(input("Ënter a number: ")))
  print("Numbers in the list:",n)

Ënter a number: 3
Numbers in the list: [3]
Ënter a number: 5
Numbers in the list: [3, 5]
Ënter a number: 3
Numbers in the list: [3, 5, 3]
Ënter a number: -11
Numbers in the list: [3, 5, 3, -11]
Ënter a number: 0
Numbers in the list: [3, 5, 3, -11, 0]

### Task 2

Write a Python program that takes a list as an input from the user, then creates a new list excluding the first and last two elements of the given list and prints the new list. If there are not enough elements in the list to do the task, print "Not possible".

**Note:** You may use list slicing.

===================================================================

**Sample Input 1:**<br/>
[10, 20, 24, 25, 26, 35, 70]<br/>

**Sample Output 1:**<br/>
[24, 25, 26]<br/>

===================================================================

**Sample Input 2:**<br/>
[10, 20, 24, 25, 26]<br/>

**Sample Output 2:**<br/>
[24]<br/>

===================================================================

**Sample Input 3:**<br/>
[10, 20, 24, 25]<br/>

**Sample Output 3:**<br/>
[]<br/>

===================================================================

**Sample Input 4:**<br/>
[10, 20, 24]<br/>

**Sample Output 4:**<br/>
Not possible<br/>

===================================================================

In [ ]:
u=[]
l=int(input("Enter element's numbers: "))
for i in range(l):
  u.append(int(input("Ënter a number: ")))
n=[]
if len(u)<4:
  print("Not possible")
else:
  for i in u[2:-2]:
    n.append(i)
  print(n)

Enter element's numbers: 4
Ënter a number: 10
Ënter a number: 24
Ënter a number: 20
Ënter a number: 25
[]

### Task 3

Write a python program that reads 5 numbers from the user into a list, and then prints them in the reverse order.

*Hint: You may create a list to store the input numbers and then use loop to print them in reverse order*

===================================================================

**Sample Input:**\
5\
-5\
100\
1\
0

**Sample Output:**\
Input data: [5, -5, 100, 1, 0]\
Printing values from the list in reverse order:\
0\
1\
100\
-5\
5

===================================================================

In [ ]:
n=[]
for i in range(5):
  n.append(int(input("Ënter a number: ")))
print("Input data:",n)
n.reverse()
print("Printing values from the list in reverse order: ")
for j in n:
  print(j)

Ënter a number: 5
Ënter a number: -5
Ënter a number: 100
Ënter a number: 1
Ënter a number: 0
Input data: [5, -5, 100, 1, 0]
Printing values from the list in reverse order:
0
1
100
-5
5

### Task 4

Write a Python program that turns every item of a list into its square. [Your program should work for any lists; make changes to the lists below and check whether your program works correctly]

===================================================================

**Given list 1:**\
[1, 2, 3, 4, 5, 6, 7]

**Sample Output 1:**\
[1, 4, 9, 16, 25, 36, 49]

===================================================================

**Given list 2:**\
[3, 5, 1, 6]

**Sample Output 2:**\
[9, 25, 1, 36]


===================================================================

In [ ]:
n=[]
e=int(input("Enter element's number: "))
for i in range(e):
  n.append(int(input("Enter a number: ")))
  n[i]=n[i]**2
print(n)

Enter element's number: 4
Enter a number: 3
Enter a number: 5
Enter a number: 1
Enter a number: 6
[9, 25, 1, 36]

### Task 5


Write a Python program that removes all Empty strings from a **given list** and prints the modified list. [Your program should work for any given list; make changes to the list below and check whether your program works correctly]

=========================================================================

**Given List:**

["hey", "there", "", "what's", "", "up", "", "?"]

**Sample Output:**

Original List:
['hey', 'there', '', "what's", '', 'up', '', '?']

Modified List:
['hey', 'there', "what's", 'up', '?']

==========================================================================

In [ ]:
g=["hey","there","","what's","","up","","?"]
print("Original list: ",g)
while "" in g:
  g.remove("")
print("Modified list: ",g)

Original list:  ['hey', 'there', '', "what's", '', 'up', '', '?']
Modified list:  ['hey', 'there', "what's", 'up', '?']

### Task 6

Write a Python program that reads a string containing 7 numbers separated by commas, then makes a list of those numbers and prints the **largest number** and its location or index position in the list. <font color='red'>[You are not allowed to use the max(), sort(), sorted() function here]</font>

[Your program should work for any given list; make changes to the list below and check whether your program works correctly]

**Hint:** You may assume the first input to be the largest value initially and the largest value’s location to be 0.

**Note:** You may need to be careful while printing the output. Depending on your code, you might need data conversion.

===================================================================

**Sample Input:**\
 "7, 13, 2, 10, 6, -11, 0"

**Sample Output:**\
My list: [7, 13, 2, 10, 6, -11, 0]\
Largest number in the list is 13 which was found at index 1.

===================================================================

In [ ]:
n=input("Enter 7 numbers integers separated by commas: ")
l=n.split(",")
j=[]
for i in l:
  j.append(int(i))
print("My List: ",j)
m=j[0]
p=0
for k in range(1,len(j)):
  if (m<j[k]):
    m= j[k]
    p=k
print(f"Largest number in the list is {m} which was found at index {p}")

Enter 7 numbers integers separated by commas: 7,13,2,10,6,-11,0
My List:  [7, 13, 2, 10, 6, -11, 0]
Largest number in the list is 13 which was found at index 1

### Task 7

Suppose you have been given two lists. Write a Python program that replaces the last element of the first list with the second list. [Your program should work for any two given lists; make changes to the lists below and check whether your program works correctly]


===================================================================

**Sample given lists 1:**\
List_one : [1, 4, 7, 5]\
List_two : [6, 1, 3, 9]

**Sample Output 1:**\
[1, 4, 7, 6, 1, 3, 9]

===================================================================

**Sample given lists 2:**\
List_one : [1, 3, 5, 7, 9, 10]\
List_two : [2, 4, 6, 8]

**Sample Output 2:**\
[1, 3, 5, 7, 9, 2, 4, 6, 8]

===================================================================

In [ ]:
list_one = [1,3,5,7,9,10]
list_two = [2,4,6,8]
new_list =[]
for i in list_one[:-1]:
  new_list.append(i)
print(new_list + list_two)

[1, 3, 5, 7, 9, 2, 4, 6, 8]

### Task 8
Assume, you have been given two lists. [Your program should work for any two given lists; change the following lists and check whether your program works correctly for the code you have written]

list_one = [1, 2, 3, 4, 5, 6, 7, 8, 9]\
list_two = [10, 11, 12, -13, -14, -15, -16]

Write a Python program that creates a new list with all the **even elements** of both of the given lists and prints the new list.

**Hint:** You may create a third list to store the even elements of the given lists.

===================================================================

**Output for the above lists:** [2, 4, 6, 8, 10, 12, -14, -16]

===================================================================

In [ ]:
list_one = [1,2,3,4,5,6,7,8,9]
list_two = [10,11,12,-13,-14,-15,-16]
new_list=[]
for count in list_one:
  if count%2==0:
    new_list.append(count)
for count in list_two:
  if count%2==0:
    new_list.append(count)
print("Output for the above lists: ",new_list)

Output for the above lists:  [2, 4, 6, 8, 10, 12, -14, -16]

### Task 9

Write a Python program that reads a string as an input from the user where multiple numbers are separated by spaces. Then, make a list of numbers from the input string without using the split() function and print the list. Finally, remove all the occurences of **even numbers** from the same input list and print the modified list.


=========================================================================

**Sample Input:**

7 12 4 55 96 2 11 61 33 42

**Sample Output:**

Original list: [7, 12, 4, 55, 96, 2, 11, 61, 33, 42]\
Modified list: [7, 55, 11, 61, 33]

=========================================================================

In [ ]:
list1=[]
str=input()
number=" "
input_list=[]
for i in str:
   if ord(i)!=ord(" "):
     number+=i
   else:
     if int(number)%2!=0:
       input_list.append(int(number))
       list1.append(int(number))
     else:
        input_list.append(int(number))
     number=" "
if len(number)!=0:
  input_list.append(int(number))
  if int(number)%2!=0:
        list1.append(int(number))
print("Original list: ",input_list)
print("MOdified list: ",list1)

7 12 4 55 96 2 11 61 33 42
Original list:  [7, 12, 4, 55, 96, 2, 11, 61, 33, 42]
MOdified list:  [7, 55, 11, 61, 33]

### Task 10
Write a Python program that reads a string as an input from the user where multiple numbers are separated by commas. Then, make a list of numbers from the input string and print the list. Finally, remove multiple occurences of any numbers from the input list and print the modified list **without duplicate values**.

*Hint: You may create a third list to store the results but you may try doing it in the same input list. You can use membership operators (in, not in) to make sure no duplicates are added.*

===================================================================

**Sample Input 1:**<br/>
0, 0, 1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 8, 9, 4, 4<br/>


**Sample Output 1:**<br/>
Input list: [0, 0, 1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 8, 9, 4, 4]\
Modified list: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

===================================================================

**Sample Input 2:**<br/>
7, 7, 7, 1, 0, 3, 3, 55, 9<br/>


**Sample Output 2:**<br/>
Input list: [7, 7, 7, 1, 0, 3, 3, 55, 9]\
Modified list: [7, 1, 0, 3, 55, 9]

===================================================================

In [ ]:
list_1=input(" ").split(',')
new_list1=[]
new_list2=[]
for i in list_1:
  new_list1.append(int(i))
print("input list:",new_list1)
for j in new_list1:
  if j not in new_list2:
    new_list2.append(int(j))
print("Modified list:", new_list2)

 7, 7, 7, 1, 0, 3, 3, 55, 9
input list: [7, 7, 7, 1, 0, 3, 3, 55, 9]
Modified list: [7, 1, 0, 3, 55, 9]

### Task 11
Assume, you have been given two lists: List_one and List_two. [Your program should work for any two given lists; change the following lists and check whether your program works correctly for the code you have written]

Write a Python program that prints "True", if the given two lists have at least one common member. Otherwise, print "False".

Note: Please use concepts of flag and break to solve this task.

===================================================================

**Given lists 1:**\
List_one : [1, 4, 3, 2, 6]\
List_two : [5, 6, 9, 8, 7]

**Sample Output 1:**\
True

===================================================================

**Given lists 2:**\
List_one : [1, 4, 3, 2, 5]\
List_two : [8, 7, 6, 9]

**Sample Output 2:**\
False

===================================================================

In [ ]:
list_one=[1, 4, 3, 2, 5]
list_two=[5,6,9,8,7]
var=False
for i in list_one:
  if i in list_two:
    var=True
    print(var)
    break
if var==False:
  print(var)

True

# <font color='purple'> Task 12 to Task 15 are [ Tracing ]

### Task 16


Write a Python program that reads 7 numbers into a list and prints the **second largest number** and its location or index position on the list. <font color='red'>[You are not allowed to use the max(), sort(), sorted() function here]</font>

===================================================================

**Sample Input:**\
 7, 13, 2, 10, 6, -11, 0

**Sample Output:**\
My list: [7, 13, 2, 10, 6, -11, 0]\
Second largest number in the list is 10 which was found at index 3.

===================================================================

### Task 17

Write a Python program that reads 5 numbers into a list and prints the smallest and largest number and their locations in the list.\
 <font color='red'>[You are not allowed to use the max(), min(), sort(), sorted() functions here]</font>

**Hint:** You may assume the first input to be the largest value initially and the largest value’s location to be 0. Similarly, you can assume the first input to be the smallest value initially and the smallest value’s location to be 0.

**Note:** You may need to be careful while printing the output. Depending on your code, you might need data conversion.

===================================================================

**Sample Input:**\
7, 13, -5, 10, 6

**Sample Output:**\
My list: [7, 13, -5, 10, 6]\
Smallest number in the list is -5 which was found at index 2\
Largest number in the list is 13 which was found at index 1

===================================================================

### Task 18
Write a Python program that takes two lists as an input from the user. Then print a new list with the **common elements** of both the input lists.

*Hint: You may need to create a third list to store the results. You can use membership operators (in, not in) to make sure similar elements are added.*

===================================================================

**Sample Input 1:**<br/>
A, B, C, D


C, E, F, B


**Sample Output 1:**<br/>
['C', 'B']

===================================================================

**Sample Input 2:**<br/>
1, 3, A, H, P


A, G, 1, P, O


**Sample Output 2:**<br/>
['1', 'A', 'P']

===================================================================


### Task 19

Assume, you have been given two lists. [Your program should work for any two given lists; make changes to the lists below and check whether your program works correctly]

list_one = [1, 2 , 2, 4, 5, 5, 7, 99, 200, 303, 70]\
list_two = [1, 1, 2, 3, 3, 3, 4, 5, 200, 500, -5]

Write a Python program that creates a new list with all the **unique elements** of both the given lists.

<font color='red'>**You need to make sure that there are no duplicates in the resulting list.**</font> \
Finally, print the updated list.

**Hint:** You may create a third list to store the results. You can use membership operators (in, not in) to make sure no duplicates are added.

===================================================================

**Output for the above two lists**:
[1, 2, 4, 5, 7, 99, 200, 303, 70, 3, 500, -5]

===================================================================

### Task 20

Write a python program to take a list as a string input from the user and print it back to the user as a list. Please look at the examples below for clarification.

**<font color='red'>[Must use string split() and strip() functions]</font>**

================================================================

**Sample Input 1:**\
'1, &nbsp; &nbsp;&nbsp; &nbsp; 2  ,&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;3, 50, 4'

**Sample Output 1:**\
Original data: 1, &nbsp; &nbsp;&nbsp; &nbsp; 2  ,&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;3, 50, 4\
After removing square brackets: 1, &nbsp; &nbsp;&nbsp; &nbsp; 2  ,&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;3, 50, 4\
Numbers in string format with extra white spaces: ['1', '&nbsp; &nbsp;&nbsp; &nbsp; 2'  ,'&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;3', '50', '4']\
Final data (numbers in list format): [1, 2, 3, 50, 4]
                
                
================================================================
                
  
**Sample Input 2:**
'[1,&nbsp; &nbsp;&nbsp; &nbsp;2&nbsp; &nbsp;,&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;3, 50, 4]'

**Sample Output 2:**\
Original data: [1,&nbsp; &nbsp;&nbsp; &nbsp;2&nbsp; &nbsp;,&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;3, 50, 4]\
After removing square brackets: 1,&nbsp; &nbsp;&nbsp; &nbsp;2&nbsp; &nbsp;,&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;3, 50, 4\
Numbers in string format with extra white spaces: ['1', '&nbsp; &nbsp;&nbsp; &nbsp;2&nbsp; &nbsp;', '&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;3', '50', '4']\
Final data (numbers in list format): [1, 2, 3, 50, 4]
                
                
================================================================

                
  
**Sample Input 3:**\
"&nbsp; &nbsp;&nbsp; &nbsp;[1,&nbsp; &nbsp;2&nbsp; &nbsp;,&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;3,&nbsp; &nbsp;50,&nbsp; &nbsp;4]&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;"

**Sample Output 3:**\
Original data: &nbsp; &nbsp;&nbsp; &nbsp;[1,&nbsp; &nbsp;2&nbsp; &nbsp;,&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;3,&nbsp; &nbsp;50,&nbsp; &nbsp;4]&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;\
After removing square brackets: 1,&nbsp; &nbsp;2&nbsp; &nbsp;,&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;3,&nbsp; &nbsp;50,&nbsp; &nbsp;4\
Numbers in string format with extra white spaces: [' 1', '&nbsp; &nbsp;2&nbsp; &nbsp;', '&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;3', '&nbsp; &nbsp;50', '&nbsp; &nbsp;4']\
Final data (numbers in list format): [1, 2, 3, 50, 4]

                
================================================================


### Task 21
Write a Python program that takes a single string as an input from the user where few numbers are separated by commas. Now, make a list with the numbers of the given string.Then your task is to remove multiple occurences of any number and then finally print the list **without any duplicate values**.

*Hint (1): For obtaining the numbers from the string, use split(). For cleaning the data, use strip().*

*Hint (2): You may create a third list to store the results. You can use membership operators (in, not in) to make sure no duplicates are added.*

===================================================================

**Sample Input 1:**<br/>
0, 0, 1, 2, 3, 4,&nbsp;&nbsp; &nbsp;&nbsp; 4, 5, 6, 6, 6,&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;7, 8, 9, 4,&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 4<br/>


**Sample Output 1:**<br/>
Given numbers in list: [0, 0, 1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 8, 9, 4, 4]\
List without any dupliacte values: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]<br/>

===================================================================

**Sample Input 2:**<br/>
7, 7, 7, 1, &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;0, 3, 3, &nbsp;&nbsp;55, 9<br/>


**Sample Output 2:**<br/>
Given numbers in list: [7, 7, 7, 1, 0, 3, 3, 55, 9]\
List without any dupliacte values: [7, 1, 0, 3, 55, 9]<br/>

===================================================================

In [ ]:
a=input("Enter numbers and separates them by numbers: ")
g=a.split(",")
print("Given numbers in list:",g)

Enter numbers and separates them by numbers: 7, 7, 7, 1,           0, 3
Given numbers in list: ['7', ' 7', ' 7', ' 1', '           0', ' 3']

### Task 22
"Write a python program that will take a number as an input and check whether the number is Awesome or not. If the number is Awesome, it prints True. Otherwise False.

**Awesome number**: a number where every digit is less than its immediate left digit is called an Awesome number. A single-digit number cannot be an awesome number(e.g. 5421 is an Awesome number.

==========================================================

**Sample Input1:**\
976321\
**Sample Output1:**\
True

==========================================================

**Sample Input2:**\
9766321\
**Sample Output2:**\
False

==========================================================

**Sample Input3:**\
9\
**Sample Output3:**\
False

==========================================================

**Sample Input4:**\
78\
**Sample Output4:**\
False

==========================================================

**Sample Input5:**\
87\
**Sample Output5:**\
True

# Theory Mid

In [ ]:
a= "A!e b&B %hK"
upper=""
lower=""
special=""
for i in a:
  if 65<=ord(i)<=90:
    upper+=i
  elif 97<=ord(i)<=122:
    lower+=i
  elif 33<=ord(i)<=47:
    special+=i
  else:
    continue
print(upper)
print(lower)
print(special)
n= upper[0]+lower[0]+special[0]
print(n)

ABK
ebh
!&%
Ae!

# Lab Mid

In [ ]:
s= "racecar"
for i in range(len(s)):
  if s[i] in (s[:i]+s[i+1:]):
    print('#',end="")
  else:
    print(s[i],end='')

###e###

# #<font color='blue'>Assignment 5 (Tuples And Dictionary)

### #<font color='blue'>Part 1: Tuples

### Task 1
Assume, you have been given a tuple.

**a_tuple =** ("The Institute", ("Best Mystery & Thriller", "The Silent Patient", 68821), 75717, [1, 2, 3, 400, 5, 6, 7], ("Best Fiction", "The Testaments", 98291))

Write one line of Python code to access and print the value 400.\
===================================================================\
Output: 400\
===================================================================\

In [ ]:
a_tuple= ("The Institute", ("Best Mystery & Thriller", "The Silent Patient", 68821), 75717, [1, 2, 3, 400, 5, 6, 7], ("Best Fiction", "The Testaments", 98291))
print(a_tuple[3][3])

400

### Task 2

Assume, you have been given a tuple.

Write a Python program that creates a new tuple excluding the first and last two elements of the given tuple and prints the new tuple.\
*Hint: You may use tuple slicing.*\
===================================================================\
Sample Input 1:\
(10, 20, 24, 25, 26, 35, 70)\
Sample Output 1:\
(24, 25, 26)\
===================================================================\
Sample Input 2:\
(-10, 20, 30, 40)\
Sample Output 2:\
()\
===================================================================\
Sample Input 3:\
(-10, 20, 25, 30, 40)\
Sample Output 3:\
(25,)

In [ ]:
user_input=input("Enter a tuple: ")
a= user_input[1:-1]
print("a=",a)
b=a.split(",")
print("b=",b)
c=tuple(b[2:-2])
print("c=",c)
d=[]
for i in c:
  d.append(int(i))
print("d=",d)
e=tuple(d)
print(e)

Enter a tuple: (-10, 20, 25, 30, 40)
a= -10, 20, 25, 30, 40
b= ['-10', ' 20', ' 25', ' 30', ' 40']
c= (' 25',)
d= [25]
(25,)

In [ ]:
user_input=input("Enter a tuple: ")
a= user_input[1:-1]
b=a.split(",")
c=tuple(b[2:-2])
d=[]
for i in c:
  d.append(int(i))
e=tuple(d)
print(e)

Enter a tuple: (-10, 20, 25, 30, 40)
(25,)

### Task 3
Assume, you have been given a tuple.

book_info = (\
("Best Mystery & Thriller","The Silent Patient",68,821),\
("Best Horror","The Institute",75,717),\
("Best History & Biography","The five",31,783 ),\
("Best Fiction","The Testaments",98,291)\
)\
Write a Python program that prints the size of the tuple and all its elements as shown below.

===========================================================

**Output:**\
Size of the tuple is: 4\
('Best Mystery & Thriller', 'The Silent Patient', 68, 821)\
('Best Horror', 'The Institute', 75, 717)\
('Best History & Biography', 'The five', 31, 783)\
('Best Fiction', 'The Testaments', 98, 291)

===================================================================

In [ ]:
 book_info = (("Best Mystery & Thriller","The Silent Patient",68,821),
("Best Horror","The Institute",75,717),("Best History & Biography","The five",31,783 ),("Best Fiction","The Testaments",98,291))
size=len(book_info)
print("Size of the tuple is:",size)
for i in book_info:
  print(i)

Size of the tuple is: 4
('Best Mystery & Thriller', 'The Silent Patient', 68, 821)
('Best Horror', 'The Institute', 75, 717)
('Best History & Biography', 'The five', 31, 783)
('Best Fiction', 'The Testaments', 98, 291)

### Task 4
Assume, you have been given a tuple with details about books that won the Good Reads Choice Awards.

book_info = (\
("Best Mystery & Thriller","The Silent Patient",68821),\
("Best Horror","The Institute",75717),\
("Best History & Biography","The five",31783 ),\
("Best Fiction","The Testaments",98291)\
) \

Write a Python program that prints the award category, the book name, and its total votes earned as shown below.

[Must use Tuple unpacking for printing and need to handle the quotation marks as a part of the output]

===================================================================

**Output:**\
The Silent Patient won the 'Best Mystery & Thriller' category with 68821 votes\
The Institute won the 'Best Horror' category with 75717 votes\
The five won the 'Best History & Biography' category with 31783 votes\
The Testaments won the 'Best Fiction' category with 98291 votes

===================================================================

In [ ]:
book_info = (("Best Mystery & Thriller","The Silent Patient",68821), ("Best Horror","The Institute",75717),
("Best History & Biography","The five",31783 ), ("Best Fiction","The Testaments",98291))
for i in book_info:
  x,y,z=i[0],i[1],i[2]
  print(f"{y} won the {x} with {z} votes")

The Silent Patient won the Best Mystery & Thriller with 68821 votes
The Institute won the Best Horror with 75717 votes
The five won the Best History & Biography with 31783 votes
The Testaments won the Best Fiction with 98291 votes

### Task 5

Write a python program that takes an input from the user and finds the number of times that the input is present in a given tuple.\
===================================================================\
**Example 1:**\
Given tuple: (10, 8, 5, 2, 10, 15, 10, 8, 5, 8, 8, 2)\
**Sample Input 1:**\
8\
**Sample Output 1:**\
8 appears 4 times in the tuple\
===================================================================\
**Example 2**\
Given tuple: (10, 8, 5, 2, 10, 15, 10, 8, 5, 8, 8, 2)\
**Sample Input 2:**\
1\
Sample Output 2:\
1 appears 0 times in the tuple

===================================================================

In [ ]:
u=int(input("Enter a number: "))
given_tuple=(10, 8, 5, 2, 10, 15, 10, 8, 5, 8, 8, 2)
c=0
for i in given_tuple:
  if i==u:
    c+=1
print(f"{u} appears {c} times in the tuple")

Enter a number: 8
8 appears 4 times in the tuple

### Task 6
Write a Python program to reverse a given tuple.\
[You are not allowed to use slicing]\
===================================================================\
**Note:** Unlike lists, tuples are immutable. So, in order to reverse a tuple, we may need to convert it into a list first, then modify the list, and finally convert it back to a tuple.\
===================================================================\
**Example 1:**
Given tuple: ('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h')\
**Output:**\
('h', 'g', 'f', 'e', 'd', 'c', 'b', 'a')\
===================================================================\
**Example 2:**\
Given tuple: (10, 20, 30, 40, 50, 60)\
**Output:**\
(60, 50, 40, 30, 20, 10)

===================================================================

In [ ]:
g = ('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h')
lis1= list(g)
d=[]
for i in range(len(lis1)-1,-1,-1):
  d.append(lis1[i])
e=tuple(d)
print(e)

('h', 'g', 'f', 'e', 'd', 'c', 'b', 'a')

### #<font color='blue'>Part 2: Dictionary

### Task 7
Suppose you are given two dictionaries.\
Now create a new dictionary "marks", merging the two dictionaries, **so that the original two dictionaries remain unchanged.**

**Note:** You can use dictionary functions.\
===================================================================\
**Given:**\
{'Harry':15, 'Draco':8, 'Nevil':19}\
{'Ginie':18, 'Luna': 14}\
**Output:**\
{'Harry': 15, 'Draco': 8, 'Nevil': 19, 'Ginie': 18, 'Luna': 14}\
===================================================================\
**Given:**\
{'A':90, 'B': 0}\
{'C':50}\
**Output:**\
{'A': 90, 'B': 0, 'C': 50}\
===================================================================\

In [ ]:
d1={'Harry':15, 'Draco':8, 'Nevil':19}
d2={'Ginie':18, 'Luna': 14}
d1.update(d2)
print(d1)

{'Harry': 15, 'Draco': 8, 'Nevil': 19, 'Ginie': 18, 'Luna': 14}

## Task 8
Write a Python program that takes a dictionary as an input from the user and then prints the average of all the values in the dictionary.\
[You are not allowed to use len() and sum()]\
===================================================================\
**Hint (1): For taking dictionary input**\
Approach (1): For taking dictionary as an input from the user, you may take the whole dictionary as a string using the input() function. Then you can use the split(), strip() functions and conditions to get the keys and values from the string. Finally, you can make the dictionary using the obtained data.

Approach (2): If the first approach seems too difficult you can create an empty dictionary and then just run a simple loop. For each iteration ask the user for a key and a value using the input() function and keep updating the dictionary with the key and value.

**Hint (2):** After you have a dictionary, you can use dictionary functions to get all the values from it, run loop to calculate the sum and the total number of values in the dictionary in order to find out the average.\
===================================================================\
**Sample Input 1:**\
{'Jon': 100, 'Dan':200, 'Rob':300}\
**Sample Output 1:**\
Average is 200.\
===================================================================\
**Sample Input 2:**\
{'Jon': 100, 'Dan':200, 'Rob':30, 'Ned':110}\
**Sample Output 2:**\
Average is 110.

===================================================================

In [ ]:
d={}
u=int(input("Enter the length of dictionary: "))
for i in range(u):
    k=input("Enter the key: ")
    v=int(input("Enter the value: "))
    d[k]=v
vs=d.values()
sum=0
for i in vs:
    sum+=i
a=int(sum/u)
print("Average is",a)

Enter the length of dictionary: 4
Enter the key: Jan
Enter the value: 100
Enter the key: Dan
Enter the value: 200
Enter the key: Rob
Enter the value: 30
Enter the key: Nerd
Enter the value: 110
Average is 110

## Task 9
Suppose there is a dictionary named exam_marks as given below.\

exam_marks = {'Cierra Vega': 175, 'Alden Cantrell': 200, 'Kierra Gentry': 165, 'Pierre Cox': 190}

Write a Python program that takes an input from the user and creates a new dictionary with only those elements from 'exam_marks' whose keys have values higher than the user input (inclusive).\
===================================================================\
**Sample Input 1:**\
170\
**Sample Output 1:**\
{'Cierra Vega': 175, 'Alden Cantrell': 200, 'Pierre Cox': 190}\
===================================================================\
**Sample Input 2:**\
190\
**Sample Output 2:**\
{'Alden Cantrell': 200, 'Pierre Cox': 190}

===================================================================

In [ ]:
n=int(input("Enter a values: "))
exam_marks = {'Cierra Vega': 175, 'Alden Cantrell': 200, 'Kierra Gentry': 165, 'Pierre Cox': 190}
d={}
for k, v in exam_marks.items():
  if v>=n:
    d[k]=v
print(d)

Enter a values: 170
{'Cierra Vega': 175, 'Alden Cantrell': 200, 'Pierre Cox': 190}

## Task 10
Write a Python program that finds the largest value with its key from a given dictionary.\
**[You are not allowed to use the max() function for this task]**

**Note:** You do not need to take the dictionaries as an input from the user but your code should work for any given dictionary. Also, you need to handle the quotation marks as a part of the output.

**Hint:** *Think of membership operators (in and not in). You can use dictionary functions to get the values.*\
===================================================================\
Sample 1:\
**Given:**\
{'sci fi': 12, 'mystery': 15, 'horror': 8, 'mythology': 10, 'young_adult': 4, 'adventure':14}\
**Output:**\
The highest selling book genre is 'mystery' and the number of books sold are 15.\
===================================================================\
Sample 2:\
**Given:**\
{'sci fi': 5, 'mystery': 3, 'horror': 14, 'young_adult': 2, 'adventure':9}\
**Output:**\
The highest selling book genre is 'horror' and the number of books sold are 14.

===================================================================

In [ ]:
d={'sci fi': 12, 'mystery': 15, 'horror': 8, 'mythology': 10, 'young_adult': 4, 'adventure':14}
b=''
n=0
for k, v in d.items():
  if v>n:
    n=v
    b=k
  continue
print(f"The highest selling book genre is '{b}' and the number of books sold are {n}.")

The highest selling book genre is 'mystery' and the number of books sold are 15.

## Task 11
Write a Python program that takes a String as an input from the user and counts the frequency of each character using a dictionary. For solving this problem, you may use each character as a key and its frequency as values.
**[You are not allowed to use the count() function]**

**Hint:** *You can create a new dictionary to store the frequencies. You may ignore case for simplicity (i.e. may consider P and p to be the same).*\
===================================================================\
**Sample Input:**\
"Python programming is fun"\
**Sample Output:**\
{'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 2, 'n': 3, 'r': 2, 'g': 2, 'a': 1, 'm': 2, 'i': 2, 's': 1, 'f': 1, 'u': 1}

===================================================================

In [ ]:
s=input("Enter a string: ")
l=s.lower()
r=l.replace(" ","")
d={}
for c in r:
  if c in d:
    d[c] = d[c]+1
  else:
    d[c] = 1
print(d)

Enter a string: Python programming is fun
{'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 2, 'n': 3, 'r': 2, 'g': 2, 'a': 1, 'm': 2, 'i': 2, 's': 1, 'f': 1, 'u': 1}

## Task 12
Suppose you are given the following dictionary where the values are lists.

dict_1 = {'A': [1, 2, 3], 'b': ['1', '2'], "c": [4, 5, 6, 7]}

Write a Python program that counts the total number of items in a dictionary’s values and prints it.

**[Without using sum(), len(), count() functions]**

**Note:** Make changes to the above dictionary and see if your code works properly for other dictionaries as well.\
===================================================================\
Output:\
9

===================================================================

In [ ]:
d = {'A': [1, 2, 3], 'b': ['1', '2'], "c": [4, 5, 6, 7]}
l=[]
for k, v in d.items():
  l.append(v)
n=0
for i in l:
  for j in range(len(i)):
    n+=1
print(n)

9

## Task 13
Suppose you have been given the following list of tuples.

list_1 = [("a", 1), ("b", 2), ("a", 3), ("b", 1), ("a", 2), ("c", 1)]

Write a Python program that converts this list of tuples into a dictionary and then prints the dictionary. The items in each tuple are a key and its value respectively. You need to group the values with the same keys into a list as shown below.

**[You are not allowed to use set]**

**Hint:** Think of membership operators (in and not in).

===================================================================

**Output:**

{'a': [1, 3, 2], 'b': [2, 1], 'c': [1]}

===================================================================

In [ ]:
list_1 = [("a", 1), ("b", 2), ("a", 3), ("b", 1), ("a", 2), ("c", 1)]
t=tuple(list_1)
d=dict((i,j) for i,j in t)
print(d)

{'a': 2, 'b': 1, 'c': 1}

In [ ]:
l = [("a", 1), ("b", 2), ("a", 3), ("b", 1), ("a", 2), ("c", 1)]
p="a"
q="b"
r="c"
s=[]
u=[]
t=[]
for i,j in l:
  if i in p:
    s.append(j)
  elif i in q:
    u.append(j)
  else:
    t.append(j)
print(s)
print(u)
print(t)
n=((p,s),(q,u),(r,t))
print(n)
d=dict((i,j) for i,j in n)
print(d)

[1, 3, 2]
[2, 1]
[1]
(('a', [1, 3, 2]), ('b', [2, 1]), ('c', [1]))
{'a': [1, 3, 2], 'b': [2, 1], 'c': [1]}

In [ ]:
given_list = [("a", 1), ("b", 2), ("a", 3), ("b", 1), ("a", 2), ("c", 1)]
p,q,r ="a","b","c"
s,u,t =[],[],[]
for i,j in given_list:
  if i in p:
    s.append(j)
  elif i in q:
    u.append(j)
  else:
    t.append(j)
n=((p,s),(q,u),(r,t))
d=dict((i,j) for i,j in n)
print(d)

{'a': [1, 3, 2], 'b': [2, 1], 'c': [1]}

# <font color='purple'> Task 14 is [ Tracing ]

In [ ]:
dict1 = {'a':59 , 'b':-82 , 'c':5 , 'd':-81 , 'e':53}
for i in dict1:
    j = 0
    k = 22
    while j < 5:
        if j % 2 == 0:
            k = dict1[i] + j - (8 + k % 6) / 3
            dict1[i] = dict1[i]+ int(k)
        else:
            k = dict1[i] + j - (6 - k % 8) * 3
            dict1[i] = dict1[i] - int(k)
        j += 1
    print(int(k))
    print(i + " -> " + str(dict1[i]))

8
a -> 17
10
b -> 19
2
c -> 5
-7
d -> -14
2
e -> 5

## Task 15

Given a list of tuples, your task is to multiply the elements of the tuple and return a list of multiplied elements as shown below.\
===================================================================\
**Example 1:**\
Given:\
[(2, 3), (4, 5), (6, 7), (2, 8)]\
**Output:**\
[6, 20, 42, 16]\
===================================================================\
**Example 2:**\
Given:\
[(11, 22), (33, 55), (55, 77), (11, 44)]\
**Output:**\
[242, 1815, 4235, 484]

===================================================================

In [ ]:
g= [(11, 22), (33, 55), (55, 77), (11, 44)]
n=[]
for i in g:
  m=1
  for j in i:
    m*=j
  fm = m
  n.append(fm)
print(n)

[242, 1815, 4235, 484]

## Task 16
Assume, you have been given a tuple as below.\
a_tuple = ( [1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12])

Write a Python program that asks the user for an input (can be any data type) and **replaces the last element of each of the inner lists with the user given value.**\
===================================================================\
**Sample Input 1:**\
abc\
**Sample Output 1:**\
([1, 2, 'abc'], [4, 5, 'abc'], [7, 8, 'abc'], [10, 11, 'abc'])\
===================================================================\
**Sample Input 1:**\
1000\
**Sample Output 1:**\
([1, 2, '1000'], [4, 5, '1000'], [7, 8, '1000'], [10, 11, '1000'])

===================================================================

In [ ]:
a_tuple = ( [1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12])
u= input("Enter Something: ")
l=[]
for i in a_tuple:
  i[2]=u
  y=i
  l.append(y)
t=tuple(l)
print(t)

Enter Something: 1000
([1, 2, '1000'], [4, 5, '1000'], [7, 8, '1000'], [10, 11, '1000'])

## Task 17
Suppose there is a dictionary named my_dictionary.

my_dictionary = {'c1':'Red', 'c2':'Green', 'c3':None, 'd4':'Blue', 'a5':None}.

Now write a Python program to remove empty items from the dictionary. [Empty items means keys without any values (None)].\
===================================================================\
**Output:**\
{'c1':'Red', 'c2':'Green', 'd4':'Blue'}

===================================================================

In [ ]:
my_dictionary = {'c1':'Red', 'c2':'Green', 'c3':None, 'd4':'Blue', 'a5':None}
n={}
for i,j in my_dictionary.items():
  if j!=None:
    n[i]=j
print(n)

{'c1': 'Red', 'c2': 'Green', 'd4': 'Blue'}

## Task 18
Suppose you are given a dictionary as shown below. Write a Python program that takes two inputs from the user representing the lower (inclusive) and upper (exclusive) of a range of values. Your task is to extract all the items from the dictionary whose values lie in the range given as input by the user.

dict_1 = {'a' : 6, 'b' : 7, 'c' : 9, 'd' : 8, 'e' : 11, 'f' : 12, 'g' : 13}\
===================================================================\
**Sample Input 1:**\
9, 12\
**Sample Output 1:**\
{'c': 9, 'e': 11}\
**Explanation:** Keys with values within the range of 9 and 11 are extracted.
===================================================================\
**Sample Input 2:**\
14, 18\
**Sample Output 2:**\
{}\
**Explanation:** No values in range.

===================================================================

In [ ]:
dict_1 = {'a' : 6, 'b' : 7, 'c' : 9, 'd' : 8, 'e' : 11, 'f' : 12, 'g' : 13}
x=int(input("Enter the lower range: "))
y=int(input("Enter the upper range: "))
d={}
for k,v in dict_1.items():
  if v>=x and v<y:
    d[k]=v
print(d)

Enter the lower range: 9
Enter the upper range: 12
{'c': 9, 'e': 11}

## Task 19
Given a list of tuples, your task is to group the tuples based on the **second** element in the tuples as shown in the examples below. We can achieve this using **dictionary** by checking the second element in each tuple.

[You do not need to take tuple as input and can assume that it is given as below]\
===================================================================\
**Example 1:**\
Given:\
[(20, 80), (31, 80), (1, 22), (88, 11), (27, 11)]\
**Output:**\
{80: [(20, 80), (31, 80)],\
11: [(88, 11), (27, 11)],\
22: [(1, 22)]}\
===================================================================\
**Example 2:**\
Given:\
[(20, 'Sad'), (31, 'Sad'), (88, 'NotSad'), (27, 'NotSad')]\
**Output:**\
{'NotSad': [(88, 'NotSad'), (27, 'NotSad')],\
'Sad: [(20, 'Sad'), (31, 'Sad')]}

===================================================================

In [ ]:
g= [(20, 80), (31, 80), (1, 22), (88, 11), (27, 11)]
d= dict(g)
s=[]
for k,v in d.items():
  if v not in s:
    s.append(v)
l1=[g[0],g[1]]
l2=[g[3],g[4]]
l3=g[2]
f={}
f[s[0]]=l1
j={}
j[s[2]]=l2
h={}
h[s[1]]=l3
f.update(j)
f.update(h)
print(f)

{80: [(20, 80), (31, 80)], 11: [(88, 11), (27, 11)], 22: (1, 22)}

## Task 20

Write a python program that takes 2 inputs from the user.

* Input1: A string containing a single sentence or multiple sentences. Multiple sentences are separated by full stops.
* Input2: A list containing special characters.

After taking the inputs, your task is to create a dictionary where the **keys** will be the corresponding special characters from the given list and the **values** will be the words in the given sentence.

You need to find out which key belongs to which value. To do that, you should calculate the **index number** using the formula given below. **The calculated index is the corresponding key of the word.** Make sure no duplicate values are inserted.

==========================================================

**The formula:**\
<font color='blue'>**Index value of special character list = (ASCII sum of the word) % (length of special character list)**

========================================================================

**Sample Input 1:**\
'I love Programming. Python is love.'\
['@', '$', '&', '#']

**Sample Output 1:**\
Words in the given String: ['I', 'love', 'Programming', 'Python', 'is', 'love']\
Answer: {'$': ['I'], '&': ['love', 'Python'], '#': ['Programming'], '@': ['is']}


**Explanation:** From the string 'I love Programming. Python is love.' the {key: value} pair is calculated accordingly:

| Word | ASCII sum | List length | Calculated index | key
| --- | --- | --- | --- | --- |  
|I| 73 | 4 | 73 % 4 = 1 | '$' |
|  |  |  |  |
|love| 438 | 4 | 438 % 4 = 2 | '&' |
|  |  |  |  |   
|Programming | 1155 | 4 | 1155 % 4 = 3 | '#' |
|  |  |  |  |
|Python| 642 | 4 | 642 % 4 = 2 | '&' |
|  |  |  |  |
|is| 220 | 4 | 220 % 4 = 0 | '@' |
|  |  |  |  |
|love| 438 | 4 | 438 % 4 = 2 | '&' |
|  |  |  |  |

The calculation is shown in the given table. Full stops after ‘Programming.’ and ‘love.’ are avoided. Also, the last word ‘love’ is a duplicate, and therefore, it was not inserted again as a value.

==========================================================

**Sample Input 2:**\
'The secret of getting ahead is getting started.'\
['-', '=', '+', '*', '%']

**Sample Output 2:**\
Words in the given String: ['The', 'secret', 'of', 'getting', 'ahead', 'is', 'getting', 'started']\
Answer: {'%': ['The', 'getting', 'ahead', 'started'], '=': ['secret'], '*': ['of'], '-': ['is']}

**Explanation:** From the string 'The secret of getting ahead is getting started.' the {key: value} pair is calculated accordingly:


| Word | ASCII sum | List length | Calculated index | key
| --- | --- | --- | --- | --- |  
|The| 289 | 5 | 289 % 5 = 4 | '%' |
|  |  |  |  |
|secret| 646 | 5 | 646 % 5 = 1 | '=' |
|  |  |  |  |   
|of | 213 | 5 | 213 % 5 = 3 | '*' |
|  |  |  |  |
|getting | 754 | 5 | 754 % 5 = 4 | '%' |
|  |  |  |  |
|ahead| 499 | 5 | 499 % 5 = 4 | '%' |
|  |  |  |  |
|is| 220 | 5 | 220 % 5 = 0 | '-' |
|  |  |  |  |
|getting| 754 | 5 | 754 % 5 = 4 | '%' |
|  |  |  |  |
|starde| 759 | 5 | 759 % 5 = 4 | '%' |
|  |  |  |  |

The calculation is shown in the given table. Full stop after ‘started.’ is avoided. Also, the word ‘getting’ is a duplicate and therefore it was not inserted again as a value.

==========================================================

In [ ]:
s= "The secret of getting ahead is getting started."
li_1= ['-', '=', '+', '*', '%']
le=len(li_1)
a=s.replace('.','')
Word=a.split(' ')
print("Words in the given String:",Word)
d=[]
for i in Word:
  ASCII_sum=0
  for j in i:
    ASCII_sum+= ord(j)
  b= ASCII_sum
  c= b % le #Index value of special character list = (ASCII sum of the word) % (length of special character list)
  d.append((i,c))
n0=[]
n1=[]
n2=[]
n3=[]
n4=[]
for simi,val in d:
  if val==(le-le) and simi not in n0:
    n0.append(simi)
  elif val==(le-(le-1)) and simi not in n1:
    n1.append(simi)
  elif val==(le-(le-2)) and simi not in n2:
    n2.append(simi)
  elif val==(le-(le-3)) and simi not in n3:
    n3.append(simi)
  elif val==(le-(le-4)) and simi not in n4:
    n4.append(simi)
n=((li_1[4],n4),(li_1[1],n1),(li_1[0],n0))
d=dict((i,j) for i,j in n)
print("Answer:" ,d)

Words in the given String: ['The', 'secret', 'of', 'getting', 'ahead', 'is', 'getting', 'started']
Answer: {'%': ['The', 'getting', 'ahead', 'started'], '=': ['secret'], '-': ['is']}

In [ ]:
s= 'I love Programming. Python is love.'
li_1= ['@', '$', '&', '#']
le=len(li_1)
a=s.replace('.','')
Word=a.split(' ')
print("Words in the given String:",Word)
d=[]
for i in Word:
  ASCII_sum=0
  for j in i:
    ASCII_sum+= ord(j)
  b= ASCII_sum
  c= b % le #Index value of special character list = (ASCII sum of the word) % (length of special character list)
  d.append((i,c))
n0=[]
n1=[]
n2=[]
n3=[]
for simi,val in d:
  if val==(le-le) and simi not in n0:
    n0.append(simi)
  elif val==(le-(le-1)) and simi not in n1:
    n1.append(simi)
  elif val==(le-(le-2)) and simi not in n2:
    n2.append(simi)
  elif val==(le-(le-3)) and simi not in n3:
    n3.append(simi)
n=((li_1[1],n1),(li_1[2],n2),(li_1[3],n3),(li_1[0],n0))
d=dict((i,j) for i,j in n)
print("Answer:" ,d)

Words in the given String: ['I', 'love', 'Programming', 'Python', 'is', 'love']
Answer: {'$': ['I'], '&': ['love', 'Python'], '#': ['Programming'], '@': ['is']}

In [ ]:
s= 'I love Programming. Python is love.'
li_1= ['@', '$', '&', '#']
t={}
for i in li_1:
  t[i]=[]
print(t)
le=len(li_1)
a=s.replace('.','')
Word=a.split(' ')
print("Words in the given String:",Word)
d=[]
for i in Word:
  ASCII_sum=0
  for j in i:
    ASCII_sum+= ord(j)
  b= ASCII_sum
  c= b % le #Index value of special character list = (ASCII sum of the word) % (length of special character list)
  d.append((i,c))
print(d)
n0=[]
n1=[]
n2=[]
n3=[]
for simi,val in d:
  if val==(le-le) and simi not in n0:
    n0.append(simi)
  elif val==(le-(le-1)) and simi not in n1:
    n1.append(simi)
  elif val==(le-(le-2)) and simi not in n2:
    n2.append(simi)
  elif val==(le-(le-3)) and simi not in n3:
    n3.append(simi)
n=((li_1[1],n1),(li_1[2],n2),(li_1[3],n3),(li_1[0],n0))
d=dict((i,j) for i,j in n)
print("Answer:" ,d)

{'@': [], '$': [], '&': [], '#': []}
Words in the given String: ['I', 'love', 'Programming', 'Python', 'is', 'love']
[('I', 1), ('love', 2), ('Programming', 3), ('Python', 2), ('is', 0), ('love', 2)]
Answer: {'$': ['I'], '&': ['love', 'Python'], '#': ['Programming'], '@': ['is']}

In [ ]:
li_1= ['@', '$', '&', '#']
d={}
for i in li_1:
  d[i]=[]
s= 'I love Programming. Python is love.'
le=len(li_1)
a=s.replace('.','')
Word=a.split(' ')
print("Words in the given String:",Word)
for k in Word:
  ASCII_sum=0
  for j in k:
    ASCII_sum+= ord(j)
  b= ASCII_sum
  c= b % le #Index value of special character list = (ASCII sum of the word) % (length of special character list)
    d[i].append(c)
print(d)

# #<font color='blue'>Assignment 6 (Function)

## Task 1
Write a function called **even_checker** that takes a number as an argument and prints whether the number is even or odd **inside the function**.\
===================================================================\
**Example 1:**\
**Function Call:**\
even_checker(5)\
**Output:**\
Odd!!\
===================================================================\
**Example2:**\
**Function Call:**\
even_checker(2)\
**Output:**\
Even!!

In [ ]:
def even_checker(n):
  if n%2==0:
    print("Even!!")
  else:
    print("Odd!!")
n=int(input("Enter a number: "))
even_checker(n)

Enter a number: 5
Odd!!

## Task 2
Write a python function that takes the limit as an argument of the Fibonacci series and prints till that limit.\
===================================================================\
**Function Call:**\
fibonacci(10)\
**Output:**\
0 1 1 2 3 5 8\
===================================================================\
**Function Call:**\
fibonacci(5)\
**Output:**\
0 1 1 2 3 5

In [ ]:
def fibonacci(number):
  First_Value, Second_Value = 0, 1
  i = 0
  while i <= number:
    if First_Value<=number:
      print(First_Value, end=" ")
    Sum = First_Value + Second_Value
# update values
    First_Value = Second_Value
    Second_Value = Sum
    i += 1
number=int(input("Enter a number: "))
fibonacci(number)

Enter a number: 10
0 1 1 2 3 5 8

## Task 3
Write a function called **foo_moo** that takes a number as an argument and **returns** the following statements according to the below mentioned conditions. Then, finally prints the statement in the function call.

 * If the number is divisible by 2, it should return "Foo".
 * If the number is divisible by 3, it should return "Moo".
 * If the number is divisible by both 2 and 3, it should return "FooMoo".
 * Otherwise, it returns "Boo".

====================================================================

**Example1:**\
**Function Call:**\
foo_moo(5)\
**Output:**\
Boo\
===================================================================\
**Example2:**\
**Function Call:**\
foo_moo(4)\
**Output:**\
Foo\
===================================================================\
**Example3:**\
**Function Call:**\
foo_moo(6)\
**Output:**\
FooMoo

In [ ]:
def foo_moo(x):
  if x%2==0 and x%3==0:
    print("FooMoo")
  elif x%2==0:
    print("Foo")
  elif x%3==0:
    print("Moo")
  else:
    print("Boo")
x=int(input("Enter a number: "))
foo_moo(x)

Enter a number: 6
FooMoo

## Task 4
Write a python function that takes a string as an argument. Your task is to calculate the number of uppercase letters and lowercase letters and print them in the function.\
====================================\
**Function Call:**\
function_name('The quick Sand Man')\
**Output:**\
No. of Uppercase characters : 3\
No. of Lowercase Characters: 12\
==================================\
**Function Call:**\
function_name('HaRRy PotteR')\
**Output:**\
No. of Uppercase characters : 5\
No. of Lowercase Characters: 6

In [ ]:
def function_name(n):
    u = 0
    l = 0
    for i in n:
        for j in i:
            if "A" <= i <= "Z":
                u += 1
            elif "a" <= i <= "z":
                l += 1
    print ("No. of Uppercase characters:", u)
    print ("No. of Lowercase characters:", l)
n=input("Enter a string: ")
function_name(n)

Enter a string: The quick Sand Man
No. of Uppercase characters: 3
No. of Lowercase characters: 12

## Task 5
Write a function called **calculate_tax** that takes 3 arguments: your age, salary, and current job designation.

Your first task is to take these arguments as user input and pass these values to the function.

Your second task is to implement the function and calculate the tax as the following conditions:

* **NO TAX IF YOU ARE LESS THAN 18 YEARS OLD.**
* **NO TAX IF YOU ARE THE PRESIDENT OF THE COMPANY**
* No tax if you get paid less than 10,000
* 5% tax if you get paid between 10K and 20K
* 10% tax if you get paid more than 20K

Finally return this tax value. Then print the returned value in the function call.\
===================================\
**Hints:**\
Here the job designation is a string, so it can be written in both uppercase and lower cases. So, you need to check the value ignoring the case.\
===================================\
**Example1:**\
**Input:**\
16\
20000\
Student\
**Function Call:**\
calculate_tax(16, 20000, 'Student')\
**Output:**\
0\
===================================\
**Example2:**\
**Input:**\
20\
18000\
assistant manager\
**Function Call:**\
calculate_tax(20, 18000, 'assistant manager')\
**Output:**\
900.0\
===================================\
**Example3:**\
**Input:**\
20\
22000\
assistant manager\
**Function Call:**\
calculate_tax(20, 22000, 'Assistant manager')\
**Output:**
2200.0\
===================================\
**Example4:**\
**Input:**\
20\
122000\
president\
**Function Call:**\
calculate_tax(20, 122000, 'president')\
**Output:**\
0

In [ ]:
def calculate_tax(a,s,d):
  tax=0
  if a<18 or d=="president" or d=="President" or s<10000:
    print(tax)
  elif 10000<=s<=20000 :
    tax= s*(5/100)
    print(tax)
  else:
    tax= s*(10/100)
    print(tax)
calculate_tax(a=int(input("Enter your age: ")),s=int(input("Enter your salary: ")),d=input("Enter your job designation: "))

Enter your age: 20
Enter your salary: 22000
Enter your job designation: assistant manager
2200.0

In [ ]:
def calculate_tax(a,s,d):
  tax=0
  if a<18 or d=="president" or d=="President" or s<10000:
    print(tax)
  elif 10000<=s<=20000 :
    tax= s*(5/100)
    print(tax)
  else:
    tax= s*(10/100)
    print(tax)
a=int(input("Enter your age: "))
s=int(input("Enter your salary: "))
d=input("Enter your job designation: ")
calculate_tax(a,s,d)

Enter your age: 20
Enter your salary: 22000
Enter your job designation: assistant manager
2200.0

## Task 6
Write a function which will take 1 argument, number of days.

Your first task is to take the number of days as user input and pass the value to the function.

Your second task is to implement the function and calculate the total number of years, number of months, and the remaining number of days as output. No need to return any value, print inside the function.

**Note:** Assume, each year to be 365 days and month to be 30 days.\
=====================================================\
**Hint(1):** Divide and mod the main input to get the desired output.\
**Hint(2):** This task’s calculation is similar to Assignment-1’s seconds to hours, minutes conversion.\
=====================================================\
**Example01**\
**Input:**\
4330\
**Function Call:**\
function_name(4330)\
**Output:**\
11 years, 10 months and 15 days\
=====================================================\
**Example02**\
**Input:**\
2250\
**Function Call:**\
function_name(2250)\
**Output:**\
6 years, 2 months and 0 days

In [ ]:
def y_m_d(u):
  if u>=365 :
    years = u // 365
    m = u % 365
    months = m // 30
    days = m % 30
    print(f"{years} years, {months} months and {days} days")
  else:
    years = 0
    months = u // 30
    days = u % 30
    print(f"{years} years, {months} months and {days} days")
u= int(input("Enter the number of days: "))
y_m_d(u)

Enter the number of days: 2250
6 years, 2 months and 0 days

## Task 7
Write a function called **show_palindrome** that takes a number as an argument and then returns a palindrome string. Finally, prints the returned value in the function call.\
=====================================================\
**Example1:**\
**Function Call:**\
show_palindrome(5)\
**Output:**\
123454321\
===================\
**Example2:**\
**Function Call:**\
show_palindrome(3)\
**Output:**\
12321

In [ ]:
def show_palindrome(n):
  for i in range(1, n):
    print(str(i),end="")
  for i in range(n, 0, -1):
    print(str(i),end="")
show_palindrome(n=int(input("Enter a number: ")))

Enter a number: 5
123454321

## Task 8
Write a function called **show_palindromic_triangle** that takes a number as an argument and prints a Palindromic Triangle in the function.\
**[Must reuse the show_palindrome() function of the previous task]**

=====================================================

**Hints:**\
Need to use both print() and print( , end = " ") functions

=====================================================

**Example1:**
**Function Call:**
show_palindromic_triangle(5)
**Output:**
                
....................1\
...............1...2...1\
..........1...2...3...2...1\
.....1...2...3...4...3...2...1\
1...2...3...4...5...4...3...2...1\
=============================================================\
**Example2:**\
**Function Call:**\
show_palindromic_triangle(3)\
**Output:**\
....................1\
...............1...2...1\
..........1...2...3...2...1

In [ ]:
def show_palindromic_triangle(n):
  for i in range(0,n+1):
    for j in range(i,n+1): #For printing spaces
      print(" ",end=" ")
    for j in range(1,i+1): # For increasing
      print(j,end=" ")
    for j in range(i-1,0,-1): #For decresing
      print(j,end=" ")
    print() #For new line
n=int(input("Enter a number: "))
show_palindromic_triangle(n)

Enter a number: 5

          1
        1 2 1
      1 2 3 2 1
    1 2 3 4 3 2 1
  1 2 3 4 5 4 3 2 1

## Task 9
Write a function called **area_circumference_generator** that takes a radius of a circle as a function parameter and calculates its circumference and area. Then returns these two results as a **tuple** and prints the results using tuple unpacking in the function call according to the given format.

**[Must use tuple packing & unpacking]**
=====================================================\
**Example1:**\
Function Call:\
area_circumference_generator(1)\
**Output:**\
(3.141592653589793, 6.283185307179586)\
Area of the circle is 3.141592653589793 and circumference is 6.283185307179586\
====================================\
**Example2:**\
**Function Call:**\
area_circumference_generator(1.5)\
**Output:**\
(7.0685834705770345, 9.42477796076938)\
Area of the circle is 7.0685834705770345 and circumference is 9.42477796076938\
====================================\
**Example3:**\
**Function Call:**\
area_circumference_generator(2.5)\
**Output:**\
(19.634954084936208, 15.707963267948966)\
Area of the circle is 19.634954084936208 and circumference is 15.707963267948966

In [ ]:
def area_circumference_generator(r):
  import math
  area=math.pi*(r**2)
  circumference=2*math.pi*r
  t=(area,circumference)
  print(t)
  x,y=t
  print(f"Area of the circle is {x} and circumference is {y}")
area_circumference_generator(r=float(input("Enter a radius: ")))

Enter a radius: 1
(3.141592653589793, 6.283185307179586)
Area of the circle is 3.141592653589793 and circumference is 6.283185307179586

## Task 10
Write a function called **make_square** that takes a tuple in the parameter as a range of numbers (starting point and ending point (included)). The function should **return a dictionary** with the numbers as keys and its squares as values.\
=====================================================\
**Hints:**\
You need to declare a dictionary to store the result. You should use the range function to run the “for loop”.\
=====================================================\
**Example1:**\
**Function Call:**\
make_square((1,3))\
**Output:**\
{1: 1, 2: 4, 3: 9}\
====================================\
**Example2:**\
**Function Call:**\
make_square((5,9))\
**Output:**\
{5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [ ]:
def make_square(u):
  d={}
  t=(5,9)
  for i in range(t[0],t[1]+1,1):
    a= i*i
    d[i]=a
  return d
make_square((5,9))

{5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

## Task 11
Write a function called rem_duplicate that takes a tuple in the parameter and return a tuple removing all the duplicate values. Then print the returned tuple in the function call.\
**[Cannot use remove() or removed() for this task]**\
=====================================================\
**Hints:**\
Unlike lists, tuples are immutable, so the tuple taken as an argument cannot be modified. But the list can be modified and lastly for returning the result use type conversion. You need to use membership operators (in, not in) for preventing adding any duplicates values.\
=====================================================\
**Example1:**\
**Function Call:**\
rem_duplicate((1,1,1,2,3,4,5,6,6,6,6,4,0,0,0))\
**Output:**\
(1, 2, 3, 4, 5, 6, 0)\
=====================================================\
**Example2:**\
**Function Call:**\
rem_duplicate(("Hi", 1, 2, 3, 3, "Hi",'a', 'a', [1,2]))\
**Output:**\
('Hi', 1, 2, 3, 'a', [1, 2])

In [ ]:
u=tuple(eval(input("Enter a tuple: "))) #eval can read input's data type
def rem_duplicate(u):
  l=[]
  for i in u:
    if i not in l:
      l.append(i)
  t=tuple(l)
  print(t)
rem_duplicate(u)

Enter a tuple: ("Hi", 1, 2, 3, 3, "Hi",'a', 'a', [1,2])
('Hi', 1, 2, 3, 'a', [1, 2])

## Task 12
Write a python function that takes a list as an argument. Your task is to create a new list where each element can be present at max 2 times. Inside the function, print the number of elements removed from the given list. Finally, return the new list and print the result\.
=====================================================\
Hint: You may use list_name.count(element) to count the total number of times an element is in a list. list_name is your new list for this problem.\
=====================================================\
Function Call:\
function_name([1, 2, 3, 3, 3, 3, 4, 5, 8, 8])\
Output:\
Removed: 2\
[1, 2, 3, 3, 4, 5, 8, 8]\
================================\
Function Call:\
function_name([10, 10, 15, 15, 20])\
Output:\
Removed: 0\
[10, 10, 15, 15, 20]

In [ ]:
def function_name(l):
  n=[]
  for i in l:
    if n.count(i)<2:
      n.append(i)
  r= len(l)-len(n)
  print(r)
  print(n)
l=[]

u=int(input("Enter element's numbers of the list: "))
for i in range(u):
  l.append(int(input("Ënter a number: ")))
function_name(l)

Enter element's numbers of the list: 5
Ënter a number: 10
Ënter a number: 10
Ënter a number: 15
Ënter a number: 15
Ënter a number: 20
0
[10, 10, 15, 15, 20]

## Task 13
Write a python function that will perform the basic calculation (addition, subtraction, multiplication and division) based on 3 arguments. They are:
* Operator ('+', '-', '/', '*')
* First Operand (any number)
* Second Operand (any number)

Your first task is to take these arguments as user input and pass the values to the function parameters.

Your second task is to write a function and perform the calculation based on the given operator. Then, finally return the result in the function call and print the result.\
=====================================================\
**Input:**\
"+"\
10\
20\
**Function Call:**\
function_name("+", 10, 20)\
**Output:**\
30.0\
=====================================================\
**Input:**\
"*"\
5.5\
2.5\
**Function Call:**\
function_name("*", 5.5, 2.5)\
**Output:**\
13.75

In [ ]:
def function_name(a,b,c):
  if a=="+":
    ad=b+c
    print(ad)
  elif a=="-":
    sub=b-c
    print(sub)
  elif a=="*":
    multi=b*c
    print(multi)
  else:
    div=b/c
    print(div)
function_name(a=input("Enter a operator: "),b=float(input("Enter first operand: ")),c=float(input("Enter second operand: ")))

Enter a operator: +
Enter first operand: 10
Enter second operand: 20
30.0

## Task 14
Write a function which will take 2 arguments. They are:
* Sentence
* Position

Your first task is to take these arguments as user input and pass these values to the function parameters.

Your second task is to implement the function and remove the characters at the index number which is divisible by the position **(Avoid the index number 0 as it will always be divisible by the position, so no need to remove the index 0 character)**. Finally, add the removed characters at the end of the new string.

Return the value and then finally, print the new string at the function call.

**[Cannot use remove() or removed() for this task]**

=====================================================

**Input:**\
"I love programming."\
3\
**Function call:**\
function_name("I love programming.", 3)\
**Output:**\
I lveprgrmmngo oai.

==============================================

**Input:**\
"Python is easy to learn. I love python."\
6\
**Function call:**\
function_name("Python is easy to learn. I love python.", 6)\
**Output:**\
Pythonis eay to earn.I lov pythn. sl eo

In [ ]:
def function_name(a,b):
  r=""
  n=""
  for i in range(len(a)):
    if i==0 or i%b!=0:
      r+=a[i]
    else:
      n+=a[i]
  print(r+n)
function_name(a=input("Enter sentences: "),b=int(input("Enter a number: ")))

Enter sentences: Python is easy to learn. I love python.
Enter a number: 6
Pythonis eay to earn.I lov pythn. sl eo

## Task 15
You have been hired as an app developer for the company. The company plans to make an app for a grocery store where the user can order groceries and see the total amount to be paid in the cart section.

To build this feature, you have to write a function that takes 2 arguments. They are:

* order_items (must be a list)
* location (default value should be set to "Dhanmondi")

Your first task is to take a list of items from the user. Pass the list into the function parameter along with the optional location (Use default argument technique). (Also, no need to take location as input, pass this any value you want.)

Your second task is to implement the function. In the function, create a dictionary for the items shown in the table. Calculate the total price of the items passed as a list to the function. Additionally, add a delivery fee of 30 taka if the location is Dhanmondi. Otherwise, add a delivery fee of 70 taka. Finally, return the value and print it.


| Item    | Price(Tk)
| ---     | ---  
| Rice    | 105
|         |   
| Potato  | 20
|         |   
| Chicken | 250
|         |   
| Beef    | 510
|         |   
| Oil     | 85

=====================================================

**Hint:** The keys are the items and values are the corresponding price. Iterate the items in the list and check if the items in the list are available in the dictionary keys or not. If it is available, add the price.

=====================================================

**Example1:**\
function_name(["Rice", "Beef", "Rice"], "Mohakhali")

total = 105 + 510 + 105 = 720 (Take the price of each item and add them.)\
total = 720 + 70 = 790 (Finally, add the delivery fee based on the location.)

**Input:**\
["Rice", "Beef", "Rice"]\
**Function Call:**\
function_name(["Rice", "Beef", "Rice"], "Mohakhali")\
**Output:**\
790

==============================================

**Example2:**\
function_name(["Rice", "Beef", "Rice"])

total = 105 + 510 + 105 = 720 (Take the price of each item and add them.)
total = 720 + 30 = 750 (Since no location is passed in the parameter, it will use the default location-"Dhanmondi". For Dhanmondi, delivery fee of 30 taka)

**Input:**\
["Rice", "Beef", "Rice"]\
**Function Call:**\
function_name(["Rice", "Beef", "Rice"])\
**Output:**\
750

In [ ]:
d={'Rice':105,'Potato':20,'Chicken':250,'Beef':510,'Oil':85}
def function_name(a,b="Dhanmondi"):
  sum=0
  for i in l:
    for k,v in d.items():
      if i==k:
        sum+=v
      else:
        continue
  if b == "Dhanmondi":
    sum+=30
  else:
    sum+=70
  print(sum)
l=[]
u=int(input("How many items do you want to buy: "))
for i in range(u):
  l.append(input("Ënter the name of items: "))
function_name(l,b="Mohakhali")

How many items do you want to buy: 3
Ënter the name of items: Rice
Ënter the name of items: Beef
Ënter the name of items: Rice
790

In [ ]:
d={'Rice':105,'Potato':20,'Chicken':250,'Beef':510,'Oil':85}
def function_name(a,b="Dhanmondi"):
  sum=0
  for i in l:
    for k,v in d.items():
      if i==k:
        sum+=v
      else:
        continue
  if b == "Dhanmondi":
    sum+=30
  else:
    sum+=70
  print(sum)
l=[]
u=int(input("How many items do you want to buy: "))
for i in range(u):
  l.append(input("Ënter the name of items: "))
function_name(l)

How many items do you want to buy: 3
Ënter the name of items: Rice
Ënter the name of items: Beef
Ënter the name of items: Rice
750

# <font color='purple'> Ungraded starts

## Task 16
Write a function called **splitting_money** that takes an “amount” of money as an argument.\
Your first task is to take the “amount” of money as user input and pass the value to the function parameter.\
Your second task is to implement the function and calculate how that money can be split into 500, 100, 50, 20, 10, 5, 2, and 1 taka notes.
Then print the returned value in the function call.\
=====================================================\
**Hints:**\
This task’s calculation is similar to Assignment-1’s seconds to hours, minutes conversion. To return the result containing multiple strings, you need to store it in a variable and return it at the end of the function.\
=====================================================\
**Example1:**
If the money is 1234, then the function should return\
"500 Taka: 2 note(s)\
100 Taka: 2 note(s)\
20 Taka: 1 note(s)\
10 Taka: 1 note(s)\
2 Taka: 2 note(s)"\
=====================================================\
**Example2:**\
If the money is 151, then the function should return\
"100 Taka: 1 note(s)\
50 Taka: 1 note(s)\
1 Taka: 1 note(s)"

## Task 17
Write a function called **remove_odd** that takes a list of numbers that have both even and odd numbers mixed.\
Your function should remove all the odd numbers and **return a compact** list which only contains the even numbers.\
**[Cannot use remove() or removed() for this task]**\
=====================================================\
**Example1:**\
**Function Call:**\
remove_odd ([21, 33, 44, 66, 11, 1, 88, 45, 10, 9])\
**Output:**\
[44, 66, 88, 10]\
====================================\
**Example2:**\
**Function Call:**\
remove_odd ([11,2,3,4,5,2,0,5,3])\
**Output:**\
[2, 4, 2, 0]

## Task 18
Write a function which will take 4 arguments. They are:

* starting value(inclusive)
* ending value(exclusive)
* first divisor
* second divisor

Your first task is to take these arguments as user input and pass these values to the function.

Your second task is to implement the function and find all the numbers that are divisible by the **first divisor or second divisor but not both** from the starting value(inclusive) and ending value(exclusive). Add all the numbers that are divisible and finally return this value. Print the returned value in the function call.

=====================================================

**Input:**\
10\
40\
4\
7\
**Function Call:**\
function_name(10, 40, 4, 7)\
**Output:**\
210

================================

**Input:**\
5\
100\
3\
4\
**Function Call:**\
function_name(5, 100, 3, 4)\
**Output:**\
2012

## Task 19
Write a python function which will take a string as an argument.

Your first task is to take a string as user input and pass the value to the function.

Your second task is to implement a function which will check whether all the alphabets from a to j (convert all the alphabets to lowercase) have appeared at least once in the given string or not.

* If all of these alphabets (a to j) appear at least once, then the result will be 5.
* If any one of the alphabets (a to j) is not in the given string, then the result will be 6.

Return this result and print the statement, "PSG will win the Champions League this season" that many times.

=====================================================

**Example01:** "A black jackal is hunting a full grown deer"

Here all the alphabets from A to J are present at least once. So, the function will return 5 and will print the statement 5 times.

**Input:**\
"A black jackal is hunting a full grown deer"\
**Function Call:**\
function_name("A black jackal is hunting a full grown deer")\
**Output:**\
PSG will win the Champions League this season\
PSG will win the Champions League this season\
PSG will win the Champions League this season\
PSG will win the Champions League this season\
PSG will win the Champions League this season

==================================================

**Example02:**

**Input:**\
"ABBCDEFEFGHI"\
**Function Call:**\
function_name("ABBCDEFEFGHI")\
**Output:**\
PSG will win the Champions League this season\
PSG will win the Champions League this season\
PSG will win the Champions League this season\
PSG will win the Champions League this season\
PSG will win the Champions League this season\
PSG will win the Champions League this season

## Task 20
Write a function called individul_bonus_calculation which will take 4 arguments. They are:\
The player name\
Yearly earning of that player\
The total goal scored this season by that player\
Bonus percent per goal.\
Your task is to implement the above-mentioned function that will calculate the total bonus on the yearly earnings of a player for the total goals he has scored.\
Additionally,\
If the goal scored is above 30, add a (additional) bonus of 10000 taka.
If it is between 20 and 30 inclusive, add an extra 5000 taka.\
[ For this task, there is no need to take any input from the user. Call the functions and print the values inside the function. ]\
=====================================================\
Example1:\
individul_bonus_calculation("Neymar", 1200000, 35, 5)\
bonus = 35 * (5 / 100 * 1200000) + 10000 = 2110000\
Function call:\
individul_bonus_calculation("Neymar", 1200000, 35, 5)\
Output:\
Neymar earned a bonus of 2110000 Taka for 35 goals.\
=====================================================\
Example2:\
individul_bonus_calculation('Jamal', 700000, 19, 8)\
bonus = 19 * (8 / 100 * 700000) + 0 = 1064000\
Function call:\
individul_bonus_calculation('Jamal', 700000, 19, 8)\
Output:\
Jamal earned a bonus of 1064000 Taka for 19 goals.\
=====================================================\
Example3:\
individul_bonus_calculation('Luis', 80000, 25, 10)\
bonus = 25 * (10 / 100 * 80000) + 5000 = 205000\
Function call:\
individul_bonus_calculation('Luis', 80000, 25, 10)\
Output:\
Luis earned a bonus of 205000 Taka for 25 goals.

=====================================================

In [ ]:
def individul_bonus_calculation(player, earnings, goals, bonus):
  if goals>30:
    bonus=int(goals*(bonus/100*earnings)+10000)
  elif 20<=goals<=30:
    bonus=int(goals*(bonus/100*earnings)+5000)
  else:
    bonus=int(goals*(bonus/100*earnings)+0)
  print(player,"earned a bonus of",bonus,"Taka for",goals,"goals")
individul_bonus_calculation("Neymar", 1200000, 35, 5)
individul_bonus_calculation('Jamal', 700000, 19, 8)
individul_bonus_calculation('Luis', 80000, 25, 10)

Neymar earned a bonus of 2110000 Taka for 35 goals
Jamal earned a bonus of 1064000 Taka for 19 goals
Luis earned a bonus of 205000 Taka for 25 goals

## Task 21
You have been hired by the Abahani football club to write a function that will calculate the total bonus on the yearly earnings of each player for the total goals they have scored.

Since the number of players will vary, you decide to use the "*args" technique that you learned in your CSE110 class.

For each player: pass the name, yearly earning, the total goal scored this season, bonus percent per goal.

Additionally,

* If the goal scored is above 30, add an extra bonus of 10000 taka.
* If it is between 20 and 30 inclusive, add an extra 5000 taka.

[ For this task, there is no need to take any input from the user. Call the functions and print the values inside the function. ]

**[Must reuse the individul_bonus_calculation() function of the previous task]**

=====================================================

**Example1:**\
cal_bonus("Neymar", 1200000, 35, 5)\
bonus = 35 * (5 / 100 * 1200000) + 10000 = 2110000\
**Function call:**\
cal_bonus("Neymar", 1200000, 35, 5)\
**Output:**\
Neymar earned a bonus of 2110000 Taka for 35 goals.

=====================================================

**Example2:**

**Function call:**\
function_name("Neymar", 1200000, 30, 10, "Jamal", 700000, 19, 5)\
**Output:**\
Neymar earned a bonus of 3605000 Taka for 30 goals.\
Jamal earned a bonus of 665000 Taka for 19 goals.

=====================================================

**Example3:**

**Function call:**\
function_name("Neymar", 1200000, 35, 5, 'Jamal', 700000, 19, 8, 'Luis', 80000, 25, 10))\
**Output:**\
Neymar earned a bonus of 2110000 Taka for 35 goals.\
Jamal earned a bonus of 1064000 Taka for 19 goals.\
Luis earned a bonus of 205000 Taka for 25 goals.

# #<font color='blue'>Assignment 7 (Searching-Sorting)

# #<font color='blue'>Class Task

## Task 1
Suppose you have a list named my_list as given below.\
my_list = [10, 1, 20, 3, 6, 2, 5, 11, 15, 2, 12, 14, 17, 18, 29]\
Now use **bubble sort** to sort my_list into ascending order.\
===============================================================\
**Output:**
[1, 2, 2, 3, 5, 6, 10, 11, 12, 14, 15, 17, 18, 20, 29]

In [ ]:
my_list = [10, 1, 20, 3, 6, 2, 5, 11, 15, 2, 12, 14, 17, 18, 29]
for i in range(len(my_list)):
  for j in range(i+1, len(my_list)):
    if my_list[i]>my_list[j]:
      my_list[i],my_list[j]=my_list[j],my_list[i]
print(my_list)

[1, 2, 2, 3, 5, 6, 10, 11, 12, 14, 15, 17, 18, 20, 29]

## Task 2
Suppose you have a list named my_list as given below\
my_list= [10, 1, 20, 3, 6, 2, 5, 11, 15, 2, 12, 14, 17, 18, 29]\
Now use **selection sort** to sort my_list into ascending order.\
===============================================================\
**Output:**\
[1, 2, 2, 3, 5, 6, 10, 11, 12, 14, 15, 17, 18, 20, 29]

In [ ]:
def selection_sort(l):
  for i in range(len(l)):
    min = l[i]
    min_idx = i
    for j in range(i+1, len(l)):
      if l[j]< min:
        min = l[j]
        min_idx= j
    temp = l[min_idx]
    l[min_idx]= l[i]
    l[i] = temp
  return l
my_list= [10, 1, 20, 3, 6, 2, 5, 11, 15, 2, 12, 14, 17, 18, 29]
selection_sort(my_list)

[1, 2, 2, 3, 5, 6, 10, 11, 12, 14, 15, 17, 18, 20, 29]

## Task 3
Suppose you have a list named my_list as given below.\
my_list = [10, 1, 20, 3, 6, 2, 5, 11, 15, 2, 12, 14, 17, 18, 29]\
Now use any of the two sorting techniques you have used above to sort the list in descending order.\
===============================================================\
**Output:**\
[29, 20, 18, 17, 15, 14, 12, 11, 10, 6, 5, 3, 2, 2, 1]

In [ ]:
# Solved by using Bubble Sorting
my_list = [10, 1, 20, 3, 6, 2, 5, 11, 15, 2, 12, 14, 17, 18, 29]
for i in range(len(my_list)):
  for j in range(i+1, len(my_list)):
    if my_list[i]<my_list[j]:
      my_list[i],my_list[j]=my_list[j],my_list[i]
print(my_list)

[29, 20, 18, 17, 15, 14, 12, 11, 10, 6, 5, 3, 2, 2, 1]

## Task 4
Suppose you have a sitting arrangement of the students who will give the final exam in a list. The list contains the last two digits of their student ID as given below

sitting_list = [10,30,20,70,11,15,22,16,58,100,12,56,70,80]

Now you want to organize the sitting arrangement of the students in your own way. You decide to sort all the students in the even indices of the list in ascending order and all the students in the odd indices of the list in descending order.

So, write a python program that organizes the list for you in this way.

===============================================================

**Output:**\
[10, 100, 11, 80, 12, 70, 20, 56, 22, 30, 58, 16, 70, 15]

In [ ]:
sitting_list = [10,30,20,70,11,15,22,16,58,100,12,56,70,80]
e=[]
o=[]
for i in range(len(sitting_list)):
  if i%2==0:
    e.append(sitting_list[i])
  else:
    o.append(sitting_list[i])
m= sorted(e)
l= len(m)
n= sorted(o, reverse= True)
new= []
for i in range(l):
  new.append(m[i])
  new.append(n[i])
print(new)

[10, 100, 11, 80, 12, 70, 20, 56, 22, 30, 58, 16, 70, 15]

## Task 5
Suppose a list contains marks earned in the courses CSE110, PHY111, and MAT110 of each student consecutively in a nested list form. Your task is to take a course name as input from the user and sort the list based on the marks obtained in that course to finally print the names of the students in descending order of marks obtained i.e. from the student who earned the highest marks to the student who earned the lowest.

For example, the list may look like

lst = [ ["Alan", 95, 87, 91], ["Turing", 92, 90, 83], ["Elon", 87, 92, 80], ["Musk", 85, 94, 90] ]

where for each nested list, 1st index holds the name of the student, 2nd index is total marks earned in the CSE110 course, 3rd index is PHY111 marks and 4th index is MAT110 marks.

===============================================================

**Hint:**

You may create a function for sorting, then call it whenever needed instead of rewriting the code.

You may get the data in the individual lists from the given nested list.

===============================================================

**Sample Input 1**\
MAT110\
**Sample Output 1**\
Alan\
Musk\
Turing\
Elon

**Explanation:**

Here the user gives us "MAT110" as the course name. Now, the students Alan, Turing, Elon, and Musk earned 91, 83, 80, and 90 marks respectively in this course. If we sort it, Alan got the highest marks of 91 followed by Musk with 90 marks and Turing with 83 marks. Among these 4 students, Elon obtained the lowest marks in the MAT110 course with 80 marks. All of these have been illustrated in our sample output.

===============================================================

**Sample Input 2**\
PHY111\
**Sample Output 2**\
Musk\
Elon\
Turing\
Alan

In [ ]:
def g(lst,idx):
  for i in range(0,len(lst)-1):
    for j in range(0,len(lst)-i-1):
      if lst[j][idx]<lst[j+1][idx]:
        lst[j],lst[j+1]=lst[j+1],lst[j]
  for i in range(0,len(lst)):
    print(lst[i][0])

lst = [ ["Alan", 95, 87, 91], ["Turing", 92, 90, 83], ["Elon", 87, 92, 80], ["Musk", 85, 94, 90]]
n= input("Please enter a course name: ")
if n=="CSE110":
  idx=1
elif n=="PHY111":
  idx=2
elif n=="MAT110":
  idx=3
g(lst, idx)

Please enter a course name: PHY111
Musk
Elon
Turing
Alan

## Task 6
Suppose you have a list named my_list as given below. Your task is to sort the list in ascending order and print the count of numbers that have changed their positions in the process of sorting.

my_list = [4, 2, 3, 1, 6, 5]

The sorted list would be [1, 2, 3, 4, 5, 6] where 4 numbers (4, 1, 6, and 5) have changed their positions. Therefore our sample output here would be 4. Please check if your code is working correctly by changing the above list and using the knowledge given here to verify whether your code gives the correct output for all different lists.

**Sample Output for the above list**\
4

In [ ]:
my_list = [4, 2, 3, 1, 6, 5]
new= sorted(my_list)
c=0
for i in range(len(my_list)):
  if my_list[i]==new[i]:
    continue
  else:
    c+=1
print(c)

4

## Task 7
Write a python program that takes two lists from the user, merges the two lists, sorts the resulting list, and then finds the median of the elements in the two lists.

=====================================================

**Sample Input 1**\
list_one = [1, 2, 1, 4]\
list_two = [5, 4, 1]\
**Sample Output 1**\
Sorted list = [1, 1, 1, 2, 4, 4, 5]\
Median = 2

=====================================================

**Sample Input 2**\
list_one = [1, 7, 9, 10]\
list_two = [2, 7, 6, 5]\
**Sample Output 2**\
Sorted list = [1, 2, 5, 6, 7, 7, 9, 10]\
Median = 6.5

In [ ]:
l1 = [1, 2, 1, 4]
l2 = [5, 4, 1]
l1.extend(l2)
new= sorted(l1)
print("Sorted list =" ,new)
l=len(new)
m = l // 2
if l%2==0:
  n= (new[m-1]+new[m])/2
  print(n)
else:
  n= new[m]
  print("Median =" ,n)

Sorted list = [1, 1, 1, 2, 4, 4, 5]
Median = 2

In [ ]:
l1 = [1, 7, 9, 10]
l2 = [2, 7, 6, 5]
l1.extend(l2)
new= sorted(l1)
print("Sorted list =" ,new)
l=len(new)
m = l // 2
if l%2==0:
  n= (new[m-1]+new[m])/2
  print(n)
else:
  n= new[m]
  print("Median =" ,n)

Sorted list = [1, 2, 5, 6, 7, 7, 9, 10]
6.5

## Task 8
Write a python program that takes a list from a user containing both positive and negative numbers. The program then finds two pairs of values whose summation is closest to zero.

=====================================================

**Sample Input 1**\
list_one = [-10, 15, 2, 4, -4, 7, -8]\
**Sample Output 1**\
Two pairs which have the smallest sum = 4 and -4

=====================================================

**Sample Input 2**\
list_one = [1, -8, 4, -7, -20, 26, 70, -85]\
**Sample Output 2**\
Two pairs which have the smallest sum = 4 and -7

In [ ]:
n=input("Enter some numbers: ")
a=n.strip("[]").split(",")
w=list(map(int,a))
x=w[0]
y=w[1]
min=x+y
if min<0:
  min=-min
for i in range(len(w)-1):
  for j in range(i+1,len(w)):
    sum= w[i]+w[j]
    if sum<0:
      sum=-sum
    if sum<min:
      x=w[i]
      y=w[j]
      min=sum
print(f"Two pairs which have the smallest sum = {x} and {y}")

Enter some numbers: -10, 15, 2, 4, -4, 7, -8
Two pairs which have the smallest sum = 4 and -4

In [ ]:
n =
print(n)

Enter some numbers : 3 4 5 6 7 8
['3', ' ', '4', ' ', '5', ' ', '6', ' ', '7', ' ', '8']

## Task 9
You will be given a list of tuples where each tuple indicates a point i.e. (x, y) in a 2-dimensional coordinate system.

You need to write a python program to find the minimum distance and the point that is closest to the origin i.e. (0,0)

=====================================================

**Hint:**\
The formula of distance = √((Δx)2+(Δy)2)
As you are calculating the distance from the origin (0,0), you can simply use
distance = √(x2+y2)

You can create a list of distances from each point and sort that list using your personal favorite sorting algorithm.

=====================================================

**Sample Input 1**\
points = [(5,3), (2,9), (-2,7), (-3,-4), (0,6), (7,-2)]\
**Sample Output 1**\
Minimum distance = 5.0\
Here the closest point is (-3,-4) which has a distance of 5.0 from the origin.

=====================================================

**Sample Input 1**\
points = [(1,7), (4,5), (-1,7), (-2,0), (1,1), (5,-1)]\
**Sample Output 1**\
Minimum distance = 1.4142135623730951\
Here the closest point is (1,1) which has a distance of 1.4142135623730951 from the origin.

In [ ]:
import math
points=[(1,7), (4,5), (-1,7), (-2,0), (1,1), (5,-1)]
origin=(0,0)
c = math.sqrt((origin[0]-points[0][0])**2 + (origin[1]- points[0][1])**2)
for i in points:
  distance =math.sqrt((origin[0]- i[0])**2 + (origin[1] - i[1])**2)
  if distance<c:
    c = distance
    closest_points=i
print(f"Minimum distance = {c}")
print(f"Here the closest point is {closest_points} which has a distance of {c} from the origin.")

Minimum distance = 1.4142135623730951
Here the closest point is (1, 1) which has a distance of 1.4142135623730951 from the origin.

# #<font color='blue'>Practice Problems for final

## Task 1
You are given a list of courses like the following:\
**courses=** ['CSE110','CSE111','MAT620','CS520','EEE361','CSE650','MAT5100','CSEE25','MAT3210']

**Sample Input**\
No need to take input\
**Sample Output**\
{'CSE': ['CSE110', 'CSE111', 'CSE650'], 'EEE': ['EEE361'], 'MAT': ['MAT620'], 'Invalid': ['CS520', 'MAT5100', 'CSEE25', 'MAT3210']}

In [ ]:
c= ['CSE110','CSE111','MAT620','CS520','EEE361','CSE650','MAT5100','CSEE25','MAT3210']
inv=[]
cse=[]
eee=[]
mat=[]
d={}
for i in c:
    if len(i)==6:
        if 'CSEE' in i:
            inv.append(i)
        elif 'CSE' in i:
            cse.append(i)
        elif 'MAT' in i:
            mat.append(i)
        elif 'EEE' in i:
            eee.append(i)
    else:
        inv.append(i)
d['CSE']=cse
d['EEE']=eee
d['MAT']=mat
d['Invalid']=inv
print(d)

{'CSE': ['CSE110', 'CSE111', 'CSE650'], 'EEE': ['EEE361'], 'MAT': ['MAT620'], 'Invalid': ['CS520', 'MAT5100', 'CSEE25', 'MAT3210']}

### Tracing 1

In [ ]:
t1 = (0,2,3,4,1,5)
L2 = [43,65,23,65,10,23,12,75]
i=1
while i<=3:
    L1=L2
    j=t1[i]
    k=i+j
    while j<=4:
        L1[i+j] = t1[i]+L2[t1[j]]
        print(L2)
        j+=1
    print(L2[k])
    i+=1

[43, 65, 23, 67, 10, 23, 12, 75]
[43, 65, 23, 67, 12, 23, 12, 75]
[43, 65, 23, 67, 12, 67, 12, 75]
67
[43, 65, 23, 67, 12, 15, 12, 75]
[43, 65, 23, 67, 12, 15, 68, 75]
15
[43, 65, 23, 67, 12, 15, 68, 69]
69

### Tracing 2

In [ ]:
L1= [2,1,0]
L2=[-1,-2,-3]
for i in range(len(L1)):
  x=0
  y=0
  for j in range(len(L2)):
    if i-j>0:
      x+=L1[L2[j]]-L2[L1[L2[i]]]
    else:
      y+=L1[L2[L1[j]]]-L2[L1[i]]
    print("x,y=",x,y)
    print(x+y)


print("x",x)
print("y",y)
print(y//x)

x,y= 0 5
5
x,y= 0 9
9
x,y= 0 12
12
x,y= 2 0
2
x,y= 2 3
5
x,y= 2 5
7
x,y= 3 0
3
x,y= 7 0
7
x,y= 7 1
8
x 7
y 1
0

## Task 2
Assume, a list is given containing email addresses. Now, implement a function that takes a list as a parameter.

In the function, your task is to separate the ids and the domain names from the given emails in the list and create a dictionary.

The key of the dictionary will be domain and value will be a tuple of two elements. The first element of the tuple is a list that contains ids of the corresponding domain and the second element is the number of elements in that list. Finally return the dictionary.

**Sample Input**

print(fucntion_is_fun(['mymail1@bracu.com', 'urmail@nsu.com', 'theirmail2@buet.com', 'mymail2@bracu.com', 'theirmail1@buet.com', 'theirmail3@buet.com']))

**Sample Output**
{‘bracu’ : ([‘mymail1’,‘mymail2’] , 2),\
‘nsu’ : ([‘urmail’], 1),\
‘buet’ :’ ([‘theirmail2’, ‘theirmail1’,‘theirmail3’’] , 3)}

# New Section

In [ ]:
  l= ['mymail1@bracu.com', 'urmail@nsu.com', 'theirmail2@buet.com', 'mymail2@bracu.com', 'theirmail1@buet.com', 'theirmail3@buet.com']

  d={}
  a=[]
  for e in l:
    d= e.split('@')
    n= d[1].split('.')
    a.append((d[0],n[0]))
  print(a)
  for j in a:
    l= j[1]
    d[l]=[]
    print(d)

[('mymail1', 'bracu'), ('urmail', 'nsu'), ('theirmail2', 'buet'), ('mymail2', 'bracu'), ('theirmail1', 'buet'), ('theirmail3', 'buet')]

TypeError: ignored

In [ ]:
def function_is_fun(l):
  d={}
  a=[]
  for e in l:
    d= e.split('@')
    n= d[1].split('.')
    a.append((d[0],n[0]))
  for e in a:
    d[e[1]]=[]
  for e in a:
    d[e[1]].append(e[0])
  for k,v in d.items():
    d[k]= (v,len(v))
  return d
l=['mymail1@bracu.com', 'urmail@nsu.com', 'theirmail2@buet.com', 'mymail2@bracu.com', 'theirmail1@buet.com', 'theirmail3@buet.com']
function_is_fun(l)

In [ ]:
p=5
q=0
r=0
while q<9:
  print("p,q,r=" , p,q,r)
  r= (p+q-r)%9
  print("r1" ,r)
  while r<q:
    p=q+r
    print("p1",p)
    r+=1
    print("r2",r)
    print("**Done**")
  p=p-q
  q+= 17%8
  print("p3",p)
  print("#q",q)

p,q,r= 5 0 0
r1 5
p3 5
#q 1
p,q,r= 5 1 5
r1 1
p3 4
#q 2
p,q,r= 4 2 1
r1 5
p3 2
#q 3
p,q,r= 2 3 5
r1 0
p1 3
r2 1
**Done**
p1 4
r2 2
**Done**
p1 5
r2 3
**Done**
p3 2
#q 4
p,q,r= 2 4 3
r1 3
p1 7
r2 4
**Done**
p3 3
#q 5
p,q,r= 3 5 4
r1 4
p1 9
r2 5
**Done**
p3 4
#q 6
p,q,r= 4 6 5
r1 5
p1 11
r2 6
**Done**
p3 5
#q 7
p,q,r= 5 7 6
r1 6
p1 13
r2 7
**Done**
p3 6
#q 8
p,q,r= 6 8 7
r1 7
p1 15
r2 8
**Done**
p3 7
#q 9

In [ ]:
myList= [10,20,30,40,50,40,30,20,10]
p=5
q=0
r=0
new= myList
while q<9:
  #print("p,q,r=" , p,q,r)
  r= (p+q-r)%9
  #print("r1" ,r)
  while r<q:
    p=p+r
    myList[q]= myList[q]-new[r]- int(str(p)+"5")
    #print("p1",p)
    r+=1
  print(myList[q])
    #print("r2",r)
    #print("**Done**")
  p=p-q
  q+= 17%8
print(len(myList)==q)
  #print("p3",p)
  #print("#q",q)

10
20
30
-135
130
-190
30
-390
-185
True